[2017-01-26 08:18] kemaswill opened #4 "Refine the README.md"
I think we'd better demonstrate the purpose of this new keras-contrib repository in the README.md. From my point of view, the purpose is to:

1. provide an official keras extension repository for the keras community, which contains newest layers, activations, loss functions, optimizers, and so on.
2. keep the original keras repository clean, only the most valuable functions will be finally merged

[2017-01-26 09:29] farizrahman4u commented on #4
@patyork

[2017-01-26 20:59] #4 closed

[2017-01-27 19:00] joeyearsley opened #8 "Best way to handle function overriding?"
I have updated the image preprocessing to allow for FCN's, so I imagine this would fit better in Keras. However, I've also updated it to accept 'BGR' image format (Does the transform at the same time it resizes) and load grayscale to I/16 mode instead of L, however this could become an arg to be passed in also.

If this isn't accepted into the main library and is deemed to fit best here, then what

[2017-01-30 22:04] lukedeo opened #9 "Encouraging contributions"
I feel like we should do a PR push (i.e., Twitter) to get people contributing and interested here. Thoughts?

[2017-01-30 22:11] the-moliver commented on #9
I agree, but I think @fchollet would get the most traction with a tweet

[2017-02-02 17:54] ahundt commented on #9
I assume keras itself has a contributions document, I suggest adding a reference to this there as well, explaining the process of first contributions going here then how eventual promotion to mainline keras would work.

[2017-02-03 06:46] titu1994 opened #10 "Addition of model building scripts to applications"
Hi @farizrahman4u,

I have a few scripts can be used to build keras models of recent papers. Some of them are :

Finished models with weights
---
[Inception v4, Inception-Resnet v1, Inception-Resnet v2](https://github.com/titu1994/Inception-v4) (weights  available for Inception v4 - via https://github.com/kentsommer/keras-inceptionV4, and therefore he should add a PR)

[Wide Residual Networks](htt

[2017-02-05 05:40] farizrahman4u commented on #10
Yes

@patyork  What do you think?

Yes.

[2017-02-05 07:07] kemaswill commented on #9
By the way, I think we'd better open an issue for contribution request to list some new functions that we need, such as a list of new activations, layers, optimizers and examples, just like https://github.com/fchollet/keras/issues/3617. I'll do a quick research review to give an initial list, any suggestions will be welcomed.

[2017-02-05 16:07] patyork commented on #10
Weights (and any large files, such as datasets) should be hosted elsewhere - not within this repo or in Keras. Another Github repo is okay, although I'd recommend AWS or google drive or something to that effect.

On that note, there should be a test to check that external files still exist (not necessarily download it, just check for a non-404/503 http response). The maintainers should also probab

[2017-02-05 16:46] titu1994 commented on #10
@farizrahman4u  @patyork Thanks for the input.

I'll start with Snapshot Ensemble, since it is just 1 callback builder. On that note, Snapshot ensembles is basically a collection of 3 callbacks :

1) A custom model saving callback (SnapshotModelCheckpoint)
2) A custom learning rate scheduler (use LearningRateSchedule callback with cosine annealing schedule)
3) (Optional) A ModelCheckpoint callback

[2017-02-07 22:46] ahundt opened #15 "model contributions more in line with tf-slim"
There are a number of good model implementations in third party repositories, and I think keras-contrib may be the most sensible place for them to go. However, each will need an example and a way to train, or a single script that works for all models. For that reason I propose a [tf-slim](https://github.com/tensorflow/models/tree/master/slim) style setup that can eliminate some of that overhead fo

[2017-02-08 01:06] the-moliver commented on #15
I have mixed feelings about this. While centralization can be a good thing, I think a model library might go beyond the intended scope of this repository. I had imagined this to be more of a testing ground for cutting edge features from recent literature. Perhaps it would be better to expand on fchollet's deep-learning-models if he's willing to grant permissions? What do others think?

[2017-02-10 17:30] farizrahman4u commented on #15
This repo is intended for testing new features (new layers, backend functions, optimizers, etc), as well as examples that use such features. If you have models that use only existing Keras features, it would be better to PR to @fchollet's deep learning models repo.

[2017-02-11 04:41] kemaswill commented on #15
We all agree that there should be an official keras repository for the community to contribute new models. Ideally it should be in an separate repo such as @fchollet 's deep learning models repo. However, there will be some models that may use new features which only exist in keras-contrib, so some of the new models MUST be pushed to keras-contri while the others goes to the model repo. Therefore

[2017-02-11 14:45] tboquet commented on #15
Would it be possible to use @fchollet 's deep learning models repo and add a folder keras-contrib-models with a readme. It could be explicit enough to advise the user that he should use the keras-contrib repo with these models?
I could also be possible to explain how to set up a virtualenv and provide a Dockerfile so it will be easy to work in a clean environment?
I guess the reviewers from the ke

[2017-02-11 16:16] ahundt commented on #15
Allow me to tweak my suggestion so that as you specified, I'll be proposing a specific new feature as well as examples of using that feature:

1) Define a standard class to create the most prominent published models of various types that can generate each model and configure the model including:
    - single class, multi class, segmentation, and instance segmentation, where applicable
    - networ

[2017-02-11 16:29] ahundt commented on #15
In other words, I'm trying to bootstrap some of the tools needed for applied R&D in a way that is much more disciplined than the quirky model/weight libraries in other deep learning projects.

[2017-02-11 21:09] tboquet commented on #15
I see, in my opinion (that could be wrong) it would definitely be possible to impose a simple style guide for the examples and maybe normalize the existing ones. The whole applied research pipeline is really interesting and important but it seems hard to integrate in this repo (API, weights management, experiment planning, etc.). I imagine it could be done in a separate project.

[2017-02-12 04:33] kemaswill opened #17 "Call for Contribution"
Contributions w.r.t. the following layers and examples are welcomed:

- Layers
   - [Layer Normalization](https://arxiv.org/abs/1607.06450)
   - [PELU](https://arxiv.org/abs/1605.09332) [DONE!]
   - [Batch Renormalization](https://arxiv.org/abs/1702.03275)
- Examples
  - [DenseNets](https://arxiv.org/abs/1608.06993v2) [DONE!]
  - [Residual of Residual Networks](https://arxiv.org/pdf/1608.02908v1.p

[2017-02-12 04:40] titu1994 commented on #17
I'd be happy to add PRs, but I need to know what format would suite this
repo.

Generally applications are one offs, they build a specific model, load
weights and then provide the model for the end user.

The models I have are builder types, meaning there are multiple parameter
which must be supplied.

On top of that, the models are not trained on ImageNet. Only Cifar 10 or
100. Also, these weight

[2017-02-12 19:00] kemaswill commented on #17
which must be supplied.

I think you can provide a builder types, defining several functions with different parameters, such as  def wrn_28_10(): return wrn.create_wide_residual_network(ip, nb_classes=10, N=4, k=10, dropout=0.0, verbose=1) and so on

100.

I think that's fine.

Snapshot Ensemble?

Let's discuss this on the [original issue](https://github.com/farizrahman4u/keras-contrib/issues/10)

[2017-02-12 19:05] kemaswill commented on #10
I think it's fine to have a builder class that returns a list of 3 callbacks, there are no such complicated callbacks previously in the keras repo.

[2017-02-12 22:48] titu1994 commented on #17
@kemaswill Thanks for the clarification.

Should I add an example script of how to use the DenseNet model as well? As in a script which shows how the DenseNet-40-12 model was trained on the CIFAR-10 dataset?

I'm just about ready to make a PR for DenseNet.

[2017-02-12 23:55] titu1994 commented on #10
@kemaswill Thanks for the input.

On another important note, should I add an example of how to use the callback? Its pretty straightforward, but it may be helpful for beginners.

A more important example in my opinion is how to use the ensemble weights to improve the accuracy of the model. I have a script here which shows how to optimize the score using the ensemble weights of a  Wide ResNet model

[2017-02-13 18:07] kemaswill commented on #17
Yes, go ahead.

[2017-02-14 01:24] kemaswill commented on #10
I'm reviewing @titu1994 's PR now, there're several questions: How should one commit a new example? Should this be pushed to 'keras_contrib/applications' or 'examples'? I think we should only choose one directory, just as the original keras repo does. If so, which models should be pushed to 'keras_contrib/applications' and which should be pushed to 'examples'?

[2017-02-14 01:28] kemaswill commented on #10
@titu1994 I think a Snapshot Ensemble example is fine for how to use such callback, so you can create one PR consists of an Snapshot Ensemble example and a new callback function.

[2017-02-14 01:53] titu1994 commented on #10
@kemaswill An example is useful for showing how Snapshot Ensemble callback builder can be used, because there are no other callback builder patterns in either Keras or Keras Contrib.

However, there isn't much need of adding the other examples, for the DenseNet, Wide ResNet and RoR Networks. Shall I remove those examples?

[2017-02-14 04:45] the-moliver commented on #10
I actually like having both the examples and applications since they serve somewhat different purposes. What do others think?

[2017-02-14 05:08] the-moliver commented on #10
@titu1994 What do you think about modifying one of your current PR examples to incorporate the Snapshot Ensemble?

[2017-02-14 05:23] titu1994 commented on #10
@the-moliver Ok if it is valuable to have the training script as well, then I'll keep them in the DenseNet, RoR and WRN PRs.

On the note of modifying one of my PR's to add a Snapshot Ensemble example, if it's OK, I'd like to add that as a separate PR next week. The main reason is I'm a bit tied up with assignment work, and the weights for the ensemble model need to be translated to the different

[2017-02-14 05:59] the-moliver commented on #10
A separate PR demonstrating both training and prediction is fine. Regarding 2-b, it looks like you are optimizing the weights on each model based on the test set prediction. That is bad practice and not to be encouraged! (This is just fitting to your test data, so of course the performance on the test set will improve) However, you could find these weights on the training data, and I would be curi

[2017-02-14 06:18] titu1994 commented on #10
I can alter the test to look at the training data instead. I dunno what I was thinking making it look at the testing data.

Now that I remember if I did write that code just before my shift to the US so I was quite time strapped. Will edit it once I have some time.

[2017-02-14 06:33] kemaswill commented on #10
@titu1994 OK, so just keep both the applications and the examples.

[2017-02-15 00:34] titu1994 commented on #10
@kemaswill So I was wondering, Snapshot Ensemble was originally used on WRN and DenseNets.

I have the pretrained weights of WRN-16-4 models on CIFAR100, so should I just give an example to train on WRN and another script to predict using ensemble weights?

@the-moliver So I fixed the prediction script, and it works well by obtaining the ensemble weights from looking only at the training data and

[2017-02-15 20:01] titu1994 commented on #17
@kemaswill I was wondering, isn't BatchNormalization with mode=1 the same as Layer Normalization? Or am I missing something here?

[2017-02-15 21:38] titu1994 commented on #17
@kemaswill I am attempting to implement the Batch Renormalization paper, but I have a few questions :

1) How do I get current iteration number in the layer? The paper mentions altering `r_max` and `d_max` after a certain number of iterations gradually, but I don't think Keras layers receive any information about current iteration / epoch number.

2) I would need to replicate a large portion of K.

[2017-02-15 22:40] the-moliver commented on #17
@titu1994
1) I think you should be able to change those during training using callbacks.
2) You could probably use the output of K.normalize_batch_in_training() as such:
[code]
because
`new_out = (((x - mean) / std) * r + d) * gamma + beta`

In any case K.mean and K.std call the corresponding Theano and Tensorflow functions, so you should always use them if needed.

[2017-02-15 23:03] titu1994 commented on #17
@the-moliver Wouldn't this be less efficient than simply computing mean and std manually (getting K.mean() and K.var and then compute std)? Because we are computing matrix multiplications of gamma and beta inside normalize_batch_in_training?

[2017-02-15 23:36] the-moliver commented on #17
It may actually be more efficient since K.normalize_batch_in_training(), uses specialized theano and tensorflow calls, and returns the mean and variance which can be used to compute d and r. You'll probably have to use something like the trick I mentioned if you want to use the specialized calls.

Yeah I agree it's a little cumbersome, but given that you'd probably want all BatchRenormalization la

[2017-02-15 23:54] titu1994 commented on #17
@the-moliver For now I guess I will keep the standard calls (K.mean and var), but your approach is also valid.

If I remember correctly, theano and tensorflow have direct cuda calls for batchnorm, so the batchnorm itself would be faster, but then performing more operations on that output may end up costing us. Can't tell without performance tests.

As for changing the r_max and d_max, that seems l

[2017-02-16 00:00] the-moliver commented on #17
Alternatively, it my be possible to accomplish essentially the same thing by changing one line in the BatchNormalization layer:
```x_normed = K.in_train_phase(x_normed, x_normed_running)```
to
```x_normed = K.in_train_phase((1-param)*x_normed +  param*x_normed_running, x_normed_running)```
with `param` controlling the tradeoff from normalizing with batch statistics to normalizing with running stat

[2017-02-16 00:09] bobchennan commented on #17
[code]

Should be similar.

[2017-02-16 00:15] titu1994 commented on #17
@the-moliver That portion of the code if checking if Keras is training or testing. In Mode 0, BN occurs at training time but not at testing time.

I don't quite understand what your code would do.

[2017-02-16 00:20] titu1994 commented on #17
@bobchennan I was trying to avoid having a separate callback for just a special class.

@fchollet Is there any plan in Keras 2 to support such manipulations? I'll hold back on the implementation of this algorithm in that case, until Keras 2 is formalized.

[2017-02-16 00:20] the-moliver commented on #17
@titu1994 In the original code `x_normed` and `x_normed_running` are always both computed and then one is chosen for output by `K.in_train_phase` depending on whether its train or test time. My code outputs a weighted combination of `x_normed` and `x_normed_running` during training, and `x_normed_running` at test.

[2017-02-16 00:22] titu1994 commented on #17
@the-moliver I get that, but what would such weighted combination accomplish? It would be equivalent to the paper.

[2017-02-16 00:23] the-moliver commented on #17
@titu1994 Exactly, I was just proposing it as an alternative and simpler implementation.

[2017-02-16 00:45] titu1994 commented on #17
@the-moliver Oh ok. More important than that is trying to set the value of r_max and d_max.

If it is going to be a part of the Keras 2 spec, we can for the time being use the callback approach and then when Keras 2 is finalized we can drop support for the callback and switch to the native implementation. Is that alright?

[2017-02-16 05:03] kemaswill commented on #17
@titu1994  BatchNormalization with mode=0,1,2 all use the mean and variance of summed inputs to **a neuron** over a mini-batch of training cases to do normalization, why **layer normalization** use the mean and variance from all of the summed inputs to the neurons in **a layer on a single training case**.

[2017-02-16 06:48] titu1994 commented on #17
Oh OK. Thanks for the clarification.

[2017-02-17 21:37] #10 closed

[2017-02-18 09:19] titu1994 commented on #17
@kemaswill @the-moliver So I implemented the algorithm, and to me it looks like it follows the paper exactly in all regards, other than updating the r_max and d_max.

In a few words, it is performing exceedingly poorly. I am testing it on a WRN-16-4 model and theano backend (works for tensorflow as well). The same model with BatchNormalization performs decently (I am only training for 100 iteratio

[2017-02-19 01:59] titu1994 commented on #17
@kemaswill @the-moliver So I managed to fix the training problem (i.e. the fact that r_max and d_max needs to be adjusted per iteration). In fact, I had to settle for per epoch updation of the max values, even though the paper suggests specific iterations at which r_max and d_max should be at their max possible value.

How I did it :
Used the population growth formula (basically a sigmoid formula

[2017-02-19 23:36] titu1994 commented on #17
@kemaswill @the-moliver On a final note, should I put Batch Renormalization in Keras directly (branch Keras 2) or should I put this in keras_contrib? Batch renorm is super useful for fast training, especially in case of mode 2 and Batch normalization layers can simply be swapped out for BatchRenormalization layers for an improvement.

@fchollet In your opinion, should this be in keras contrib for

[2017-02-20 01:13] mustgoplay opened #29 "extract_image_patches"
Just a small inconsistency - the backend for tensorflow input variable is ssizes while for theano it's strides.  Not sure if it matters if they're the same name but seems like it's easier in the long run if they are.

Also curious why cols are before rows?

Thank you for adding this function.

[2017-02-20 03:54] mustgoplay commented on #29
Had to change the theano version

` patches = KTH.reshape(patches, (batch, num_channels, KTH.shape(patches)[0] // num_channels, patch_size, patch_size))
`

to:

`patches = KTH.reshape(patches, (batch, num_channels, num_rows * num_cols , patch_size, patch_size))
`

To get it to work.  The 3rd dimension otherwise was off by a factor of batch_size

[2017-02-20 05:31] ahundt commented on #8
you should point to your changes since they can't be found based on this post. There is now https://github.com/farizrahman4u/keras-contrib for submissions that won't immediately make it to keras, though of course the code will still have to be sufficiently well written, of course.

[2017-02-20 07:36] ahundt opened #31 "Upsampling and Super Resolution Layers Contribution Request"
This is an issue for layers/models that help with upsampling, deconvolution, super resolution, and other cases where your output layer is larger than your input layer. One specific possibility:

 - [ ] [Atrous transpose convolutions](https://www.tensorflow.org/api_docs/python/tf/nn/atrous_conv2d_transpose) with [tf python test](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python

[2017-02-21 07:07] titu1994 commented on #31
@ahundt I've added Subpixel Convolution Upsampling layer and its related backend changes to the DenseNet FCN PR. It should work correctly from now on tensorflow, since I just call the tensorflow depth_to_space command directly.

Still need to design a test suite for this algorithm. Since its output shape depends on the input shape it receives from the layer preceding it, it will be harder to desig

[2017-02-21 13:09] tboquet opened #35 "Review guidelines"
Is it a good idea to define some rules to review a PR?
For example, because we are a lot of collaborators, it could interesting to have more than one approval to merge a PR.
What do you think?

[2017-02-21 16:51] patyork commented on #35
[https://github.com/farizrahman4u/keras-contrib/blob/master/GUIDELINES.md#addition-of-new-features](https://github.com/farizrahman4u/keras-contrib/blob/master/GUIDELINES.md#addition-of-new-features)

[2017-02-21 18:41] tboquet commented on #35
Right, I forgot it was defined because the last PRs have been merged with only one review. "Whenever possible, multiple Maintainers should review a pull requests before it is merged." this should be a priority.

[2017-02-21 21:23] ahundt commented on #31
@titu1994 is referring to #34

The [tf python test for atrous](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/atrous_convolution_test.py) handles multiple sizes, plus pooling layers change sizes so perhaps those could be use for examples?

[2017-02-22 01:58] #35 closed

[2017-02-22 03:40] titu1994 commented on #31
@ahundt I actually haven't studied AtrousConvolution layers much. I know the basics of what they do, but haven't used it much so my knowledge is purely theoretical. Can you handle the examples?

[2017-02-22 04:00] ahundt commented on #31
@titu1994 sorry I wasn't clear, I meant using the linked test as example code on which you can base your subpixel convolution upsampling layer unit test.

[2017-02-22 04:04] titu1994 commented on #31
Hmm. That's a good point. I'll have to look into it after a few days however. I have a test drawing closer, and I need to study for it.

[2017-02-26 08:56] abhaikollara opened #38 "Cannot import name image_dim_ordering"
I get an error when trying to import keras-contrib
[code]
[code]

[2017-02-26 09:28] abhaikollara commented on #38
My bad, was using keras-2

[2017-02-26 09:28] #38 closed

[2017-02-28 05:09] titu1994 commented on #31
@ahundt The SubPixelConvolution layer and its respective depth_to_space backend function tests have now been added.

[2017-03-07 20:52] ahundt commented on #31
The first upsampling layer and depth_to_space have been merged here:
https://github.com/farizrahman4u/keras-contrib/pull/34

[2017-03-08 19:46] the-moliver opened #40 "Keras-2 support"
Keras-2 is nearing completion so we should start porting everything to work with the new Keras-2 APIs. I will create a branch for this purpose. Please state what you're working on in this thread so people don't duplicate effort.

[2017-03-08 22:45] tboquet commented on #40
I can work on the examples.

[2017-03-09 07:27] the-moliver commented on #40
I'm working on the cosine layers.

[2017-03-11 18:43] kemaswill commented on #40
I can also work on applications as well as examples together with @tboquet since these two directories are very related.

[2017-03-11 19:39] tboquet commented on #40
@kemaswill cool!

[2017-03-11 20:00] abhaikollara commented on #40
I'd like to work on the backends

[2017-03-17 21:17] ahundt opened #47 "additional datasets - coco + voc2012"
I'm working on some code that loads ms coco and pascal voc for segmentation, but it would currently involve steps that depend on several other python libraries, including tf only steps. It could be used to create examples for the DenseNetFCN and #46 segmentation models.

I'm creating an example that trains on these keras-contrib models but with the dependency limitations mentioned above, and I can

[2017-03-18 19:54] patyork commented on #47
What are the external libraries (and what are they used for)? Also, what are the steps that can only be done in TF?

[2017-03-19 04:09] #8 closed

[2017-03-19 06:31] thesuperzapper opened #48 "Error while trying to use PELU"
**Environment:**
- TensorFlow 1.0.1
- Keras 2.0.1,

**Issue:**
- When I try and import PELU, I get this trace.

[code]

[2017-03-19 10:39] abhaikollara commented on #40
@farizrahman4u New PRs to keras-2 branch or master branch ? I see a lot of keras-2 update commits on the master branch

[2017-03-19 16:22] farizrahman4u commented on #40
Oh, no. You guys were already working on a Keras-2 branch? I was unaware of it. Thats a lot of redundant work.

[2017-03-19 16:24] kemaswill commented on #40
Not yet actually, just wonder if we should first discuss what is needed to do and then we can start it.

[2017-03-19 16:25] tboquet commented on #40
Not sure, bu it would be better to keep working on a branch so the transition will be clean?

[2017-03-19 16:26] farizrahman4u commented on #40
Master is now compatible with Keras2. All PRs to Master.

[2017-03-19 16:27] farizrahman4u commented on #40
Current issues.. we have accuracy issues with Batchrenorm and Deconv3d, causing tests to fail.

[2017-03-19 16:33] abhaikollara commented on #40
@farizrahman4u Do I have to redo the PRs ?

[2017-03-19 16:37] farizrahman4u commented on #40
What we should we currently working on is getting the tests to pass. We are having numerical issues with Batchrenorm and deconv3d. I have converted 90% to Keras2. There might be somethings I missed (such as in examples). You can work on converting them to Keras2.

[2017-03-19 16:38] kemaswill commented on #40
Sure, I will work on the examples today.

[2017-03-19 16:40] abhaikollara commented on #40
Okay, but there are issues with tensorflow backend, you can't even import keras_contrib. I had already fixed it on the keras-2. Shall I redo it on master ?

[2017-03-19 16:40] farizrahman4u commented on #40
I just pushed a commit. Can you try again? If it still doesn't work, PR to Master.

[2017-03-19 16:50] abhaikollara commented on #48
@thesuperzapper The issue has been resolved now

[2017-03-19 16:55] #48 closed

[2017-03-20 13:52] ahundt commented on #47
I'm sure they can be done with other tools, they are currently implemented with TF and would need to be rewritten to work with numpy arrays. Actually it probably could be done fairly easily without TF I've been using it a bit more since the previous post.

Pascal VOC 2012 + Berkeley additional labeling

- [pascal_voc.py](https://github.com/ahundt/tf-image-segmentation/blob/tf_densenet_fcn/tf_image

[2017-03-24 15:57] kemaswill opened #51 "Got error message when run examples cifar10_densenet.py"
I'm trying to fix the examples to fit keras-2, however I got the following error when I try to run the cifar10_densenet.py:

Traceback (most recent call last):
  File "examples/cifar10_densenet.py", line 38, in <module>
    input_shape=img_dim, weights=None)
  File "/home/ubuntu/Github/keras-contrib/keras_contrib/applications/densenet.py", line 117, in DenseNet
    dropout_rate, weight_decay)
  Fi

[2017-03-26 17:09] #51 closed

[2017-03-27 18:38] ahundt commented on #51
@kemaswill I have a number of DenseNet Keras-2 patches in https://github.com/farizrahman4u/keras-contrib/pull/46

[2017-03-27 19:56] ahundt commented on #51
@kemaswill I don't think it is fixed? I've updated both keras and keras-contrib to the latest version.

[2017-03-27 21:22] kemaswill commented on #51
@ahundt Have you also update Tensorflow? What's your current version for keras and tensorflow?

[2017-03-27 21:31] kemaswill commented on #51
@ahundt Mine is keras: 2.0.2, Tensorflow 1.0.1.

[2017-03-29 09:31] t-ae opened #56 "Bug in `test_subias_pixel_upscaling`"
According to [this discussion](https://github.com/farizrahman4u/keras-contrib/pull/34/files/6c656f12d967901e0cb9965f9cf783f280631312#diff-091b2f7e9b1a041322f576cf6e448153), [this line](https://github.com/farizrahman4u/keras-contrib/blob/master/tests/keras_contrib/layers/test_convolutional.py#L158) must be
```expected_output = K.eval(KCTF.depth_to_space(input_tensor, scale=scale_factor))```

Now it

[2017-03-29 10:01] t-ae commented on #56
The naming error is introduced in [this commit](https://github.com/farizrahman4u/keras-contrib/commit/3773baa1fba7b52649531c001ee488a28421e424).
I made PR #57.

I tried to call `KCTF.depth_to_space` with Theano backend, but it didn't work...

[2017-03-29 10:47] t-ae commented on #56
I was comparing TF tensor and TH tensor...
Instead of fixing `test_sub_pixel_upscaling`, I added `test_depth_to_space`(#58 ).

[2017-03-29 16:40] ahundt opened #59 "segmentation and FCN training examples + class"
We have models for segmentation including DenseNetFCN, but we need a training example.

I've tested [Keras-FCN](https://github.com/aurora95/Keras-FCN). It works well, and the author is happy to see it incorporated into keras-contrib. I also have a [fork with DensenetFCN and #46 integrated](https://github.com/ahundt/Keras-FCN/tree/densenet_atrous).

A few questions before a pull request is created:

[2017-03-31 18:57] ahundt opened #63 "DenseNetFCN not training to expected performance"
## I'm training and testing DenseNetFCN on Pascal VOC2012

Could I get advice on next steps to take to debug and improve the results?

To do so I'm using the [train.py](https://github.com/ahundt/Keras-FCN/blob/densenet_atrous/train.py) training script in [my fork of Keras-FCN](https://github.com/ahundt/Keras-FCN/blob/densenet_atrous/) in conjunction with [DenseNetFCN in keras-contrib](https://gith

[2017-03-31 21:28] ahundt commented on #63
Update: One obvious problem is I had the wrong learning rate for Adam. Training is still in progress but perhaps this will progress to where I expect.

[code]

[2017-04-04 17:36] titu1994 commented on #63
@ahundt How was the training with the corrected learning rate? In my case, it seems to perform well enough, but does not beat the benchmark yet. Perhaps deeper and wider DenseNetFCNs will do the trick.

[2017-04-04 18:11] ahundt commented on #63
@titu1994 It appeared to quickly reach 65% pixel accuracy, but when I looked at the results it turns out it fell into the local minimum of essentially labeling all pixels as the background class. I'm going to add some class weighting to see if it addresses the problem.

I'm also working on training on COCO to see if using pretrained weights can improve those results.

In your case, did you use the

[2017-04-04 18:22] titu1994 commented on #63
No I used a private dataset, which normal networks like UNet have difficulty with.

DenseNet seems to perform better than UNet but then it plateaus and further improvement is trivial after that point. Although in my case there was no single class problem.

[2017-04-04 18:25] aurora95 commented on #63
I'm not sure but it shouldn't label all pixels as background, there must be something wrong in the code or training settings. Could you please give a link to the code you are using?

[2017-04-04 18:41] ahundt commented on #63
@titu1994 sorry I didn't realize I had submitted my most recent post then edited it, there is now a lot of additional information above.

@aurora95 Here is [My Keras-FCN version](https://github.com/ahundt/Keras-FCN/tree/densenet_atrous) where I'm training with densenet. Most modification is in [models.py](https://github.com/ahundt/Keras-FCN/blob/densenet_atrous/models.py) where I import this keras

[2017-04-04 18:47] titu1994 commented on #63
Hmm I don't think there are weights for DenseNet trained on ImageNet. I'll have to do a more thorough search to be sure.

Atrous DenseNets seems nice, could you try implementing it ? I'll give it a look, but i don't think  just adding the atrous rate parameter will translate to better performance.

[2017-04-04 18:49] ahundt commented on #63
@titu1994 they are trained on imagenet with [DenseNet-caffe](https://github.com/shicai/DenseNet-Caffe) and the [original DenseNet repository](https://github.com/liuzhuang13/DenseNet). See my [densent + imagenet links two posts up](https://github.com/farizrahman4u/keras-contrib/issues/63#issuecomment-291585475) for those and some caffe to keras conversion scripts that *might* help, I haven't had a

[2017-04-04 18:53] titu1994 commented on #63
This is great news! I'll be sure to look at it in some time, and if possible port the weights to Keras.

However if it's in caffe, I won't be able to convert it, since im on Windows.

[2017-04-04 19:30] ahundt commented on #63
@titu1994 Also, Atrous Densenet is already implemented in https://github.com/farizrahman4u/keras-contrib/pull/46, next steps would be converting the pretrained imagenet weights or training from scratch.

If the pretrained weights don't work, I have access to a distributed GPU cluster... but it will quite some time before I have all of that implemented, integrated, and tested. [tf-slim](https://git

[2017-04-05 01:12] #56 closed

[2017-04-06 21:44] farizrahman4u opened #64 "Make Keras-contrib green again"
Guys, we are 2 bugs away from passing all tests :

* A shape mismatch issue in PELU which shows up in both backends
* A dim-ordering related issue in Deconv3d which shows up in TF backend alone

It would be highly appreciated if any of you could volunteer for fixing one or both of these. A Red Travis badge can damage the credibility of the whole repo (not just the modules that are failing, since p

[2017-04-06 21:51] the-moliver commented on #64
I wholeheartedly agree. I'll fix the PELU issue today.

[2017-04-06 22:35] the-moliver commented on #64
PELU tests now passing

[2017-04-06 22:37] farizrahman4u commented on #64
Great! Thanks.

[2017-04-06 23:34] the-moliver commented on #64
After some investigation Deconv3d has some larger issues and needs a bit of an overhaul to better reflect keras 2 standards. I can finish it up tomorrow...

[2017-04-09 14:49] vfdev-5 opened #65 "Another implementation of image mask generator"
Hi,
I would like to propose another type of [image mask generator](https://github.com/vfdev-5/keras-contrib/blob/master/keras_contrib/preprocessing/image/generators.py).
I'm aware of [this](https://github.com/fchollet/keras/issues/3338) and of ['Example of transforming images and masks together'](https://keras.io/preprocessing/image/), so I tried to mix both functions (transform image and mask, pr

[2017-04-09 23:30] farizrahman4u commented on #64
@the-moliver Are you working on Deconv3d? Do you need any help?

[2017-04-10 00:16] the-moliver commented on #64
Hey got held up with some work. Will finish it up tomorrow...

[2017-04-10 22:27] ahundt commented on #63
Found another bug which came from combining the two scripts where the loss function applies softmax a second time. This is due to a difference between the Keras_FCN models and the keras-contrib models.

[2017-04-11 17:30] gattia commented on #64
Hey, dont know what the bigger issues were with deconv3d, but I just fixed the dim-ordering issue or at least I think I did. There was an issue with the TF backend looking at the image dimensions as well as the kernel. There was an extra manipulation occurring.

It worked locally and passed all the tests for my pull request #67

[2017-04-12 06:07] the-moliver commented on #64
@gattia I merged your change to make tests pass for now, but there are still issues that I'm still working to address that the current tests aren't catching. The main issue is that any combination of backend and dim-order _should_ work, but currently don't. Given that backend and dim-order are _usually_ coupled it's not a huge issue, but still should be fixed to Keras 2 standards.

[2017-04-12 10:50] farizrahman4u commented on #64
![good_job_boys](https://cloud.githubusercontent.com/assets/11006006/24954189/ef6402d8-1f9b-11e7-9d4e-8ef4e3d77fd5.jpg)

[2017-04-12 10:50] #64 closed

[2017-04-19 04:39] ahundt commented on #47
I've made useful progress towards Pascal VOC and MS COCO in other repositories, which I plan to merge into keras-contrib when ready. Details are in https://github.com/ahundt/Keras-FCN/tree/densenet_atrous

One issue is that with more complex datasets it makes sense to have several manual utilities & external dependencies may be required.

How can the manual utility + dependency needs of large data

[2017-04-19 05:08] ahundt commented on #59
[segmentation_keras](https://github.com/nicolov/segmentation_keras) is another repository that has less functionality than Keras-FCN, but the code is a bit cleaner.

[2017-04-19 05:35] ahundt commented on #63
Other optimizers & hyperparameters https://github.com/tensorflow/tensorflow/pull/9175 may help.

It also appears https://github.com/0bserver07/One-Hundred-Layers-Tiramisu has also run into similar training limitations.

[2017-04-20 16:07] ahundt commented on #63
Update: my fork of Keras-FCN is merged to master with instructions in the README.md
 It looks like a potential DenseNet weight conversion process is in https://github.com/nicolov/segmentation_keras which uses github.com/ethereon/caffe-tensorflow, though I got an error when trying to run the conversion script https://github.com/nicolov/segmentation_keras/issues/13.

[2017-04-20 16:37] ahundt commented on #63
It seems the original authors explain in their [FC-Densenet repository](https://github.com/SimJeg/FC-DenseNet) that they have found DenseNetFCN performance isn't very good on Pascal VOC as per https://github.com/SimJeg/FC-DenseNet/issues/10. @Observer07 @titu1994 you will be interested in this info.

[2017-04-20 16:58] titu1994 commented on #63
I have seen similar poor performance on a private dataset. Seems it learns rapidly upto a certain point, then cannot improve at all.

UNet seems to perform well in that dataset, far better than DenseNetFCN.

Perhaps the implementation is correct but the model is not able to learn properly on all datasets ?

[2017-04-20 20:54] ahundt commented on #63
@titu1994 that seems likely, camvid is a much simpler dataset than Pascal VOC 2012. The real test would likely be to try training on camvid itself.

[2017-04-25 23:23] #40 closed

[2017-04-26 00:38] the-moliver commented on #65
Can you explain at a high level what you're trying to accomplish with this and why? What are the advantages, drawbacks, etc...

[2017-04-26 10:31] vfdev-5 commented on #65
Idea is to give more flexibility to image data generator and cover the case of image/mask augmentation (even it can be done by zipping two Keras `ImageDataGenerator`s). Typical usage is :
[code]

*Advantages*:
1) User decides how to get images with `xy_provider` and benefits of random transformations provided by Keras.
2) User can manage the pipeline of random transformations and add some custom f

[2017-04-26 15:54] ahundt commented on #47
#80 adds pascal_voc support

[2017-04-26 19:32] ahundt commented on #47
#81 adds ms coco support

[2017-05-03 01:11] caseyalan opened #82 "Deconvolution3D output specification and example"
Hi,

First of all, you are all life savers -- I needed Deconvolution3D to try and make a video-GAN!

I'm having a bit of trouble understanding the doc string examples (using tensorflow backend but applies to both). Specifically, when trying to figure out the appropriate kernel/strides it is suggested to "use a dummy input and see the actual output shape." But if the specified output shape is wrong

[2017-05-04 19:22] ahundt commented on #47
Some improvments to #81 should be made based on https://github.com/PavlosMelissinos/enet-keras/blob/master/src/data/datasets.py

[2017-05-08 01:59] ahundt commented on #63
Another interesting difference is the use of a ceil mode in pooling.
https://github.com/ethereon/caffe-tensorflow/issues/112

I'm a bit doubtful that this is the key cause of the performance difference between the paper and the  keras implementations, however. Especially considering the tiramisu paper didn't use pretrained weights.

[2017-05-08 05:53] puneet336 opened #83 "No module named keras_contrib.layers.convolutional"
Hi all,
I am facing issues while importing Cropping3D class from keras_contrib on centos 6.5 with python 2.7.13 .

I had installed KERAS-CONTRIB as follows -
export PYTHONPATH="$HOME/SOFTWARES/KERAS-CONTRIB/master-29042017/gnu/lib/python2.7/site-packages"
python setup.py install --prefix="$HOME/SOFTWARES/KERAS-CONTRIB/master-29042017/gnu"|tee keras_logs

The import works fine from the keras-contri

[2017-05-08 06:07] puneet336 commented on #83
Hi all,
The egg files had all the classes.
My PYTHONPATH was not correctly pointing to the sitepackages directory.
Closing this issue.

[2017-05-08 06:07] #83 closed

[2017-05-18 09:32] jpeg729 commented on #9
I think the best way to encourage contributions would be to have a website to showcase the contributions.

[2017-05-18 13:28] Dref360 commented on #9
Maybe a github.page where every contirbutors can showcase their add? It's super easy to setup and it's free

[2017-05-19 22:47] bstriner commented on #9
Hey, guys! Finally should have free time over the summer.

Every once in a while a good idea pops up on the forums and I try to refer it over here. The hardest part is just getting the ball rolling.

`keras-contrib` is referenced in the keras `contributing.md` but mayber there are more prominent locations that might be appropriate, such as the issue or PR submission forms.

A few repos I might wan

[2017-05-19 23:06] ahundt commented on #9
sounds cool, there are also a bunch of items in the set of issues:
https://github.com/farizrahman4u/keras-contrib/issues

[2017-05-19 23:10] bstriner commented on #9
A few good ones in the keras issues, too. The idea of better generators for image data and text data would be really useful.

[2017-05-20 01:59] ahundt commented on #65
I've got two proposals that I think are related to this in upstream keras, comments would be appreciated:
https://github.com/fchollet/keras/issues/6538#issuecomment-302835861
https://github.com/fchollet/keras/issues/6655

[2017-05-20 11:54] temperatemarine opened #84 "Issue in using DSSIMObjective as loss function"
Hi,
I am want to use difference of structural similarity as the loss function. This is my code
`from keras.models import Model`
`from keras.layers import Input, Conv2D`
`from keras.optimizers import Adam`
`from keras_contrib.losses import DSSIMObjective`
`input_shape = (1,33,33)`
`n1 = 64`
`n2 = 32`
`n3 = 1`
`f1 = 9`
`f2 = 1`
`f3 = 5`
`x = Input(shape = input_shape)`
`c1 = Conv2D(n1, (f1, f1), pad

[2017-05-20 12:17] farizrahman4u commented on #84
[code]

[2017-05-20 12:17] #84 closed

[2017-05-20 13:31] temperatemarine opened #85 "Issue with DSSIMObjective as loss function"
Hi,
I am using DSSIMObjective as loss function. And my code is:
`n1 = 64`
`n2 = 32`
`n3 = 1`
`f1 = 9`
`f2 = 1`
`f3 = 5`
`model = Sequential()`
`model.add(Conv2D(n1, (f1, f1), padding='same', input_shape=input_shape, activation='relu'))`
`model.add(Conv2D(n2, (f2, f2), padding='same', activation='relu'))`
`model.add(Conv2D(n3, (f3, f3), padding='same'))`
`adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.

[2017-05-20 14:01] Dref360 commented on #85
I'm on it

[2017-05-20 14:07] temperatemarine commented on #85
Hi Dref360, I have read your comments under #4292 today. Then, I found this DSSIMObjective function from keras_contrib. I am happy to see you here :-)

[2017-05-20 14:58] Dref360 commented on #85
Will be fix in https://github.com/farizrahman4u/keras-contrib/pull/86

[2017-05-20 14:58] Dref360 commented on #29
Will be fix in https://github.com/farizrahman4u/keras-contrib/pull/86

[2017-05-20 20:40] kylemcdonald opened #87 "TimeStopping callback"
I'm just starting to get back into Keras after some time away, and there is some old code I wanted to contribute:

https://github.com/fchollet/keras/issues/1625

[code]

Is something like this helpful or is there already code that does this now?

[2017-05-20 21:13] the-moliver commented on #87
Seems useful, please submit a PR with appropriate tests.

[2017-05-20 22:51] #29 closed

[2017-05-21 09:50] edmondja commented on #87
Thank you very much Kyle, I was waiting for this, yeah please submit a PR !

[2017-05-21 10:30] farizrahman4u opened #88 "Hot Dog Not Hot Dog Classifier"
Guys, what do you think about adding a Hot Dog/Not Hot Dog example? Images are available in MS COCO dataset.

Cheers.

[2017-05-21 18:45] bstriner commented on #88
Rather be working on a decentralized internet :)

[2017-05-22 00:21] lukedeo commented on #88
Who volunteers to be our Dinesh once this takes off?

[2017-05-25 11:32] kirk86 commented on #88
@lukedeo Is that a hot-dog? epic 🤣

[2017-05-27 07:30] alyato opened #89 "Add the code for Covariance Descriptor Unit ?"
hi,i check the paper `Second-order Convolutional Neural Networks` [https://arxiv.org/pdf/1703.06817.pdf](url), it use the ` Covariance Descriptor Unit` to replace `full-connected layer`.
Can add the  Covariance Descriptor Unit? Thanks.

[2017-06-01 06:16] bstriner opened #92 "WTF Travis?"
I'm getting a lot of weird errors like `pip install Theano` failing tonight. Not sure if you guys also get all those emails about travis troubleshooting some problems with `sudo` tonight. Everything seems to work fine if you hit restart job on whatever subjob fails. I guess just a heads up and I'll close this if everything goes away eventually.

[2017-06-06 07:30] #92 closed

[2017-06-08 13:07] Dref360 opened #100 "Fix DSSIM covariance"
In the code of dssim, the covariance is not calculated properly.

See : https://github.com/fchollet/keras/issues/4292#issuecomment-306993196

(I'll fix it this week, just to leave a trace.)

[2017-06-08 13:07] Dref360 commented on #100
Already in PR, my bad :(

[2017-06-08 13:07] #100 closed

[2017-06-09 16:14] titu1994 opened #102 "Adding ResNeXt as an application"
Hi, I was wondering if it is alright to add ResNeXt model building code from the paper [Aggregated Residual Transformations for Deep Neural Networks](https://arxiv.org/pdf/1611.05431.pdf) without pre-trained weights for CIFAR-10 or CIFAR100.

I'm currently using my GPU for another research project, but since ResNeXt models aren't currently available for Keras, I was hoping to add them to contrib s

[2017-06-10 10:10] jeansely opened #105 "pascal_voc.py has error"
Hi,
when run "pascal_voc.py oascal_voc_setup" occur some error ;
**Exception originated from within Sacred.
Traceback (most recent calls):
  File "C:\Program Files\python3.5\python-3.5.3.amd64\lib\sacred\experiment.py",
 line 242, in run_commandline
    return self.run(cmd_name, config_updates, named_configs, {}, args)
  File "C:\Program Files\python3.5\python-3.5.3.amd64\lib\sacred\experiment.py"

[2017-06-14 06:59] amanjhunjhunwala commented on #63
Hi @athundt, firstly thank you so much for the amazing functions in keras_contrib ! Its been a life-saver !

I am using DenseNet FCN from keras-contrib using your Keras_FCN training script with @titu1994 PR (for fixing training difficulty) included and I am training on VOC 2012 (non-augmented) but while training the sparse_accuracy_ignoring_last_label has hovered around 0.65 right from the 2nd epo

[2017-06-15 05:34] the-moliver commented on #102
Sure seems reasonable to me since there is probably interest.

[2017-06-15 05:35] #85 closed

[2017-06-15 05:36] the-moliver commented on #89
You're welcome to submit a PR

[2017-06-15 14:20] oarriaga opened #107 "Spatial transformer network (STN) layer"
Hi,
I don't know if the STNs could be considered relevant enough to include them in this repo; however, I currently have an implementation of the STN layer [in this gist](https://gist.github.com/oarriaga/8438a7276bdc2b4ff03986d465e243b3). My original repository with a test case on the cluttered MNIST dataset can be found [here](https://github.com/oarriaga/spatial_transformer_networks). It is curre

[2017-06-16 04:55] arucon opened #109 "Loss Function add"
Hello

I want to add loss function of Sigma RMSE
I'm using this for fitting series of weather data(Temp, WindSpeed, etc)
Used it by custom Loss Function, but It can be useful to other people

Actually tried to PR to Keras(https://github.com/fchollet/keras/pull/6996)
fchollet sent me here

After I read CONTRIBUTING.md, I'm writing this issue for PR

Thanks.

[2017-06-16 18:29] #63 closed

[2017-06-16 20:33] the-moliver commented on #109
Do you have a reference for this? Why is there a sum on axis -1 after you already did a mean on axis -1? How is this different than RMSE?

[2017-06-16 23:08] arucon commented on #109
You are right.
Sorry
Can you close it?

[2017-06-16 23:18] the-moliver commented on #107
Hi @oarriaga a STN would be great to include but we do need it to work on both backends. I looked at your code and it does seem fixable but you might want to do some refactoring. It seems `T.mgrid[x, y]` can't take the vectors you are passing it, the input has to look like `T.mgrid[-1:1:.1,0:5:.1]` so it may be easier to write K_meshgrid like:
[code]
And then I think you can get rid of your linspa

[2017-06-16 23:19] #109 closed

[2017-06-19 22:38] the-moliver opened #113 "CNTK compatibility"
If someone wants to start tackling the issue of making all the tests pass with the CNTK backend that would be amazing!

[2017-06-19 22:49] #31 closed

[2017-06-21 13:39] tarvaina commented on #47
The Pascal VOC installation failed on Python 3. I submitted pull request #114 to fix the problem.

[2017-06-21 16:43] ahundt commented on #47
Thanks!

[2017-06-21 16:44] ahundt commented on #47
I'm also working on extending it for running via TFRecords but that may be a while before the PR is ready.

[2017-06-21 16:47] ahundt commented on #105
fixed

[2017-06-21 16:48] ahundt commented on #47
If you might be interested in incorporating it the code to be manually moved into keras-contrib is at https://github.com/warmspringwinds/tf-image-segmentation/pull/25

[2017-07-02 14:18] codecolony opened #117 "reshape_2 error in fcn densenet training"
Hi,

Thanks for sharing these new implementations.
I tried training fcn densenet with camvid dataset but ended up with following error.

`ValueError: Error when checking target: expected reshape_2 to have 4 dimensions, but got array with shape (367, 50176, 12)`

Could you please let me know what am I doing wrong here?

[2017-07-02 14:24] codecolony commented on #117
After digging a bit, I think the issue is with data format. I'm using grayscale ground truth. This explains why one dimension is missing? Maybe I should use color images.

[2017-07-13 13:13] Omarito2412 opened #119 "CRF always producing 0"
Hello,

I've tried to use the CRF layer as an output to my Bi-LSTM CRF model and it trains well and shows reasonable accuracy by using crf.accuracy instead of "accuracy", however when I do model.predict() or predict_classes or predict_proba it always outputs 0, am I doing anything wrong?
(Tried on both Tensorflow and Theano)

crf = CRF(len(classes), sparse_target=True)

batch_size = 32
model = Seq

[2017-07-17 13:53] linxihui commented on #119
First, for dedicate debugging, it will be nice to provide your code and part of your data for replication, as I cannot see any problem from your code.

BTW, I don't know if you should have`'accuracy'` in `metrics` as `crf.accuracy` has the same name. Especially  when `sparse_target=True. But of course it does not explain the problem here.

[2017-07-17 15:52] Omarito2412 commented on #119
Oh nevermind about the accuracy metric, I can put my code but it requires the fast text pretrained model which might be annoying for you.
If there's anything I can run locally for you I guess it would be more convenient?

[2017-07-19 05:23] ahundt opened #123 "Incorporate more Models and ImageNet pretrained weights"
https://github.com/flyyufelix/cnn_finetune has densenet and resnet weights

[2017-07-19 05:27] ahundt commented on #123
@titu1994 you may be interested in the linked repo

[2017-07-19 05:36] titu1994 commented on #123
Thanks for the heads up! @ahundt.

ResNet weights were already available, but DenseNet weights may be worth porting over. Is the model compatible ?  Sadly I don't have time right now to look into porting this weights.

I'd like to take a look at this in a month or so, when I have some time.

[2017-07-19 05:49] titu1994 commented on #123
The code is very similar thankfully. The Scale layer is the only major difference. Perhaps someone can port over this code and the weight loading procedure to this repository ?

[2017-07-19 10:56] stenverbois commented on #119
I'm having the same issue with the output. Even the example using the CoNLL dataset does not run for me with Python 3. It fails when parsing the input file:
[code]
It does work when running it with Python 2. Platform is Ubuntu 16.04.

[2017-07-19 16:43] ahundt commented on #123
I've been thinking of doing that but my plate is full trying to get the tfrecord changes in upstream, which is why I just created the issue for now.

Also the repo has versions of resnet not currently supported in keras.

[2017-07-23 11:50] iliaschalkidis opened #125 "Saving-Loading BILSTM-CRF model ValueError: Layer - loss missing"
I set up a BILSTM-CRF model for sequence labelling, very similar to this example (https://github.com/farizrahman4u/keras-contrib/blob/master/examples/conll2000_chunking_crf.py).

[code]
The model was trained successfully and I also successfully called the predict_classes() function, as soon as I trained it and I had the object after training...

Then I tried to load it back, like it is mentioned i

[2017-07-24 12:06] ParthShah412 commented on #125
I too have the same issue

[2017-07-25 06:30] ParthShah412 commented on #125
Found a solution use
from keras_contrib.utils import save_load_utils
Save your model using
save_load_utils.save_all_weights(model,filename)

Easily load it back, by just specifying the architecture how the model was built and load all the weights back by

save_load_utils.load_all_weights(model,filename)

I did it and it worked fine for me.

[2017-07-25 12:45] KiddoThe2B commented on #125
Thanks a lot it works fine for me also! A bit tricky and sloppy though, I need to add an if statement in my loader() to discriminate the loading between other models from 'CRF'-extended ones :)

[2017-07-27 06:22] StefanoD opened #126 "Instance Normalization not implemented right"
See [this](https://github.com/tensorflow/tensorflow/issues/11690#issuecomment-318187648) post.

[2017-07-27 14:12] the-moliver commented on #126
See https://github.com/tensorflow/tensorflow/issues/11690#issuecomment-318373681

[2017-07-27 20:50] StefanoD commented on #126
Ok, then I close this issue.

[2017-07-27 20:50] #126 closed

[2017-07-29 09:05] waleedka opened #127 "BatchRenormalization uses Numpy code where it should use TF code"
Looking at the code of [BatchRenormalization ](https://github.com/farizrahman4u/keras-contrib/blob/master/keras_contrib/layers/normalization.py), I think there is a serious issue there. This section, for example, inside the call() function:
[code]

The main issue is that the code uses Python/Numpy operations, rather than Keras/TensorFlow operations. Note that the layer call() function is executed

[2017-08-03 06:28] codertimo opened #129 "Saving & Loading CRF layer with load_model"
Now I'm using the CRF layer very usefully. Thanx for developed it :)
But I found some inconvenience part, which is **saving and loading the model**.

If I wanted to load the CRF layer with `load_model(model_path)`.

Other layers in `keras-contrib` can automatically load the model with `load_model()`.
because `get_custom_objects().update({'CosineDense': CosineDense})` infrom to origin-keras about t

[2017-08-03 06:35] codertimo commented on #129
The way that I found. But there is some issue.

[code]

Under code shows the CRF layers loss_function() <object function>
But as you can see, CRF loss function calculating the loss using own objects inputs. Unlikely the other loss function like `softmax` etc.

[code]

So loss function is not static (object public function), and it calculates the loss using the own object.  **Is there any method th

[2017-08-07 15:57] Omarito2412 commented on #119
Hey @linxihui
I'm still stuck with this, I'd really appreciate your help.
An example is this NER model I've trained that is a Bi-LSTM layer and a CRF layer, it scores near 99% accuracy (I'm using loss=crf.loss_function and using crf accuracy)
However when I try to test the model on a subset this happens:
(X_Test is a random split from X_Train, so there is no difference between them)

[code]
Same o

[2017-08-08 12:20] Omarito2412 commented on #119
Solution: don't use K.set_learning_phase()

[2017-08-08 12:20] #119 closed

[2017-08-09 10:00] neingeist opened #131 "CRF is broken with Theano backend"
With Theano (git version due to compiler issues) the CRF is broken. Unfortunately I am unable to test this with the current stable Theano.

[code]

With the TensorFlow backend, the example runs perfectly on my machine.

[2017-08-10 17:44] joelkuiper opened #132 "Using CRF with the functional API?"
I'm trying to use the CRF with the Functional (Model) API, but I'm not sure how to proceed. I keep getting `No data provided for "crf_1". Need data for each key in: ['crf_1']`

The general idea is:

[code]

but that doesn't work. Unfortunately I'm unable to rewrite to a sequential model, because the Masking layer complains (I'm feeding it embeddings directly, instead of using an Embedding layer).

[2017-08-10 17:55] joelkuiper commented on #131
Can confirm, same on my machine

[2017-08-10 20:45] changken1 opened #133 "Issue with Deconvolution3D"
Hi,

I am trying to run this segment of code from the Deconvolution3D example:

model = Sequential()
model.add(Deconvolution3D(3, 3, 3, 3, output_shape=(None, 3, 14, 14, 14), padding='valid', input_shape=(3, 12, 12, 12)))

but am experiencing this error "TypeError: __init__() got multiple values for keyword argument 'output_shape'". Is this a bug?

Thank you!

[2017-08-11 16:06] neingeist commented on #131
@joelkuiper Which Theano version are you using?

[2017-08-12 02:31] ylmeng opened #134 "I have an error when I ran the example file"
With Python 3.5.2 and nltk 3.2.4
[code]

TypeError: a bytes-like object is required, not 'str'

[2017-08-13 15:18] KiddoThe2B commented on #129
I think a good solution is given here (https://github.com/farizrahman4u/keras-contrib/issues/125).

[2017-08-15 03:29] KARABAER opened #136 "what is the difference between softmax and marginal mode in crf"
the two modes in crf are join mode and marginal mode,but i am not clear about the marginal mode,and i use this mode to train the data, the result is almost same to the softmax, anyone can explain it?

[2017-08-17 07:48] FiReTiTi opened #138 "SReLU cannot be saved using JSON"
Hi,

I tried to save the architecture of a model that contains a SReLU activation function using JSON, but I got the following error:

Traceback (most recent call last):
  File "Test2.py", line 37, in <module>
    open("Test_" + modelname + "_Architecture.json", 'w').write(model.to_json())
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/keras/engine/

[2017-08-17 14:05] luckustus commented on #133
Same issue

[2017-08-18 19:45] lminer opened #139 "Can't import CRF layer"
Whenever I try to import the CRF class, I get the following error:

[code]

[2017-08-18 19:52] lminer commented on #139
It looks like that wrapper is on master branch of keras but not yet on the keras 2

[2017-08-18 19:58] #139 closed

[2017-08-18 20:33] yushuinanrong commented on #139
@lminer
Hi, would you mind to explain a bit more of how to install dev version of keras 2?

[2017-08-18 20:38] lminer commented on #139
1. pip uninstall current version of keras
2. git clone keras repo
3. cd keras
4. python setup.py install

[2017-08-21 14:31] neingeist commented on #131
The problem is also there with Theano-rel-0.10.0beta1.

[2017-08-21 14:54] yushuinanrong commented on #139
@lminer
Thanks a lot! It works.

[2017-08-29 18:43] FredRodrigues commented on #131
Yup ! I also confirm!

[2017-08-30 07:14] stygstra commented on #127
[Another place](https://github.com/farizrahman4u/keras-contrib/blob/c4d1a617461b0a4e29ec087de562032d47d03244/keras_contrib/layers/normalization.py#L293-L299) where `K.get_value` is used:
[code]

Since this is in call(), the clipping is fixed at `r_max_value=1` and `d_max_value=0` rather than smoothly approaching `r_max_value=3` and `d_max_value=5` as described in section 4, paragraph 3 of the [bat

[2017-08-30 07:59] stygstra commented on #127
Related observation: with the current parameters, `self.r_max` and `self.d_max` converge much more quickly to `self.r_max_value` and `self.d_max_value` than the [batch renorm paper](https://arxiv.org/pdf/1702.03275.pdf) suggests in section 4, paragraph 3. Once this bug (#127) is fixed, this will need to be considered.

The paper warns:

The paper suggests:
* fixing `r_max=1` and `d_max=0` for the

[2017-09-07 09:13] vilmar-hillow commented on #134
I have the same error. You can fix it now by changing `string.strip().split('\n\n')` to `string.decode().strip().split('\n\n')`. Note that you'll need to change another line for you to work as well:
`vocab = ['<pad>', '<unk>'] + [w for w, f in word_counts.iteritems() if f >= min_freq]`
to
`vocab = ['<pad>', '<unk>'] + [w for w, f in word_counts.items() if f >= min_freq]`

[2017-09-10 18:02] abhiboost commented on #119
ive the same problem. how did you solve it @Omarito2412 ?

[2017-09-10 18:03] abhiboost commented on #119
ive the same problem. how did you solve it @Omarito2412 ?

[2017-09-11 18:55] Omarito2412 commented on #119
@abhiboost I removed the K.set_learning_phase() function call and everything worked afterwards

[2017-09-21 13:46] linxihui commented on #119
@Omarito2412  @abhiboost  `K.set_learning_phase()` should NOT be used when doing prediction. The output at the learning phase is fake and makes not sense as CRF is non-direct graph. The key part at the training phase is the loss function, i.e., negative log likelihood.

[2017-09-21 13:57] linxihui commented on #136
@KARABAER  `join mode` is the real CRF by defnition, and the Viterbi algorithm gives you the usual prediction result, which is not softmax but best path. Since CRF is non-direct graph that models join distribution of all time slices, you can not get independent probability distribution for each time slice like RNN.   But of course you can talk about marginal distribution of each time slice either

[2017-09-21 14:00] linxihui commented on #132
@joelkuiper  Does it work if you replace `crf` by `LSTM`?

[2017-09-22 02:49] xingbotao opened #149 "interfaces.legacy_get_updates_support"
when I use the keras-contrib, meet the "module has no attribution interfaces.legacy_get_updates_support " ,why?

[2017-09-22 05:58] ahundt opened #150 "Batch Renormalization test failure"
@titu1994 It looks like your PRs from #28 and #69 are causing travis to fail on some of your changes in [test_normalization.py ](https://github.com/farizrahman4u/keras-contrib/blame/master/tests/keras_contrib/layers/test_normalization.py#L287 ) in keras-contrib. Would you mind either looking for a fix or creating a PR that disables the relevant code?

https://travis-ci.org/farizrahman4u/keras-cont

[2017-09-23 12:51] wlwsea commented on #117
Hello @codecolony @ahundt  ,

I want to train FC-Densenet on CamVid too. But I don't know how to start the training.
I just begin to learn keras, it's difficult for me.
Can you give me some details or the commands you have used?

Thanks a ton!

[2017-09-25 13:15] PavlosMelissinos opened #153 "[API Proposal] Suggestions for a sensible Dataset API"
Hey there, so I've been silently working on a few ideas I've had about a sensible dataset format and I'm currently looking for some feedback before I open a PR here. Could someone check out [my version of the MS-COCO dataset](/PavlosMelissinos/enet-keras/blob/datasets_overhaul/src/data/datasets.py) and tell me what I would need to add/change in order to make it worthy of a merge?

For instance, it

[2017-09-25 17:10] ahundt commented on #117
looks like the difference between when you have the batches and when you don't. Keras hides the batches when you create your model, that means you only have width height and channels for images in this case, so you don't have to worry about it, but some backend functions use the batch index, so you have batch height width channels. Make sure your dataset inputs are configured correctly, look at th

[2017-09-25 17:52] ahundt commented on #153
I think there are some valuable discussion points and pain points discussed in the tensorflow datasets api https://github.com/tensorflow/tensorflow/issues/7951, and interesting details on the kinds of transformations people have needed.

[2017-09-25 17:54] ahundt commented on #153
the `_init_( config)` parameter would probably make the most sense simply being kwargs, which is how python handles all parameters to any function as a dictionary anyway.

[2017-09-25 18:47] ahundt opened #157 "fix travis - h5py model saving issue"
@the-moliver @bstriner it looks like the current remaining travis failure might be due to the hdf5 saving function, within files it appears you have authored.

File: https://github.com/farizrahman4u/keras-contrib/blob/master/tests/keras_contrib/utils/save_load_utils_test.py#L36
Failure: https://travis-ci.org/farizrahman4u/keras-contrib/builds/279618487?utm_source=github_status&utm_medium=notificat

[2017-09-26 07:22] PavlosMelissinos commented on #153
Hey there, glad to see you so active! 👍

That tf thread seems handy, I could use the perspective.

Well duh, indeed it makes perfect sense. I don't know why that didn't even cross my mind...

Thanks for the suggestions!

[2017-09-27 14:41] thomaspheiffer commented on #149
I had the same issue. I discovered that I only had keras 2.0.5 installed in my Ubuntu environment, which seemed to be incompatible with the latest keras-contrib. I solved it by doing "pip install keras==2.0.8".

Hope this helps.

[2017-10-01 15:20] deepakanandece opened #159 "AttributeError: DSSIMObjective instance has no attribute 'get_shape'"
I am trying to use DSSIM objective function with Keras and tensorflow backend. I get this error while compiling the model.

[2017-10-04 09:42] luckustus commented on #133
Does anybody know how to make this work?

[2017-10-04 10:18] luckustus commented on #133
OK got it: You have to pass the filters and kernel_size arguements like this: Deconvolution3D(3,(3,3,3),...

[2017-10-07 21:51] grayfall opened #160 "CRF: Incompatible shapes"
[stack_trace.txt](https://github.com/farizrahman4u/keras-contrib/files/1366463/stack_trace.txt)
I've been playing with the CRF layer contributed by @linxihui. I've written a fairly simple RNN-CRF to get a taste of the API:

[code]
Shortly after the training initialises, I get the following error

[code]

Seems like it can't correctly infer that `y` is a 2D array. I also tried converting `y` into o

[2017-10-11 18:11] TimRepke commented on #160
Hi @grayfall ,
I just stumbled across the exact same issue! What I found is, that the CRF layer, or it's loss function rather[1], doesn't support sample weights. I removed the weights and `sample_weight_mode="temporal"`, which made it work.

In your example, you use weights for masking as far as I can tell. The CRF Layer documentation says:

Hope that helps
Tim

[1] https://github.com/farizrahman4

[2017-10-13 13:59] ahundt commented on #153
@PavlosMelissinos It might be best to email the keras mailing list or post this in keras itself for more feedback

[2017-10-15 17:13] #127 closed

[2017-10-15 18:55] linxihui commented on #160
@grayfall  The default training mode is to minimize the negative log likelihood of join distribution which is how the CRF is defined.  You cannot assign weights on each time slice, and thus `sample_weight_mode="temporal"` is not allowed.   If you want to really needs that, go with *marginal mode* for training, which minimize the usual categorical entropy. It is not exactly the objective for CRF bu

[2017-10-15 18:59] grayfall commented on #160
@TimRepke @linxihui Thank you for the reply. I actually need to pass the weights to my models, because they contain convolutional layers, which as of this writing do not support Keras' built-in masking, but I guess I'll figure something out.

[2017-10-16 21:25] tanmayb123 commented on #107
I'd love to see an implementation of this - I _**really**_ wonder why noone has done this yet!

[2017-10-17 15:44] ahundt opened #164 "keras-contrib broken due to broken keras master"
[code]
Due to this commit:
https://github.com/fchollet/keras/commit/6b106ab4ec9a1c0eb3e24ae590ce63f84022ad40#diff-a18b8c6a1191d6f49303e0d599ca8c37L3178

[2017-10-17 16:01] ahundt opened #166 "fix tensorflow_backend to match keras tensorflow_backend"
keras-contrib unit tests are failing due to https://github.com/fchollet/keras/commit/6b106ab4ec9a1c0eb3e24ae590ce63f84022ad40 in keras, because the non-public backend functions have changed. We need to update the keras-contrib backend functions accordingly so they work in the same manner as keras. I'm making a quick fix at https://github.com/farizrahman4u/keras-contrib/pull/168.
It looks like @far

[2017-10-17 18:24] #150 closed

[2017-10-19 16:38] #160 closed

[2017-10-23 23:47] ahundt commented on #149
Keras-contrib is currently only designed to work either with master or the latest release, not older versions. In reality even that is true only so long as there is someone who submits a pull requests to fix things whenever they break due to changes in master. I'm closing this, but feel free to comment if there is still a problem.

[2017-10-23 23:47] #149 closed

[2017-10-26 17:13] charlesreid1 commented on #133
Could you add a simple Deconvolution3D example to the `examples/` directory? This would be a great first pull request!

[2017-10-27 02:02] bagasabisena opened #177 "CRF layer with use_bias=False throws ValueError: None values not supported"
Using TensorFlow backend, adding the parameter `use_bias=False` throws the `ValueError: None values not supported`

[code]

using use_bias=True works fine.

Below is the error tracebacks

[code]

is it because of the `self.bias` is set to None when `use_bias=False`?

Does wrapping the `input_energy` with if else that check for use_bias should work?

[2017-10-30 18:07] AndrasEros opened #178 "Mitigate loss turning to NaN (Callback ReduceOnNaN)"
Deleted

[2017-10-31 01:07] AndrasEros commented on #178
Deleted

[2017-10-31 01:07] #178 closed

[2017-11-08 21:44] tarlen5 commented on #164
Thanks for flagging this issue! I ran into the same problem. Has anyone made any progress on a fix yet?

[2017-11-09 03:11] ahundt commented on #164
@tarlen5 I think it is fixed with master of both keras and keras-contrib. I think I just moved the relevant code into keras-contrib.

[2017-11-10 06:53] quincyliang commented on #125
I use save_load_utils.load_all_weights(model,filename) to load the model and it works. However, the model.predict() function is quite slow, it takes around 400ms to predict a single input. How to speed up the prediction?

[2017-11-13 11:04] KiddoThe2B opened #179 "CRF Layer rename sparse_targets to one_hot_target"
Hi everyone,

This is a recommendation for the CRF layer, written by @linxihui . I think author's acceptance as also broad acceptance by users is needed to proceed in any code change.

I would suggest the renaming of the parameter `sparse_target`. In my opinion, it is completely misleading. One has to use either `sparse_target=False` for one-hot vectors (labels) or `sparse_target=True` to use inte

[2017-11-22 07:00] vilmar-hillow opened #183 "CRF Layer ValueError"
After updating keras from 2.0.9 to 2.1.1, my code with CRF layer started failing with ValueError. I ran crf_test to see the same error there:
`ValueError: Error when checking target: expected crf_2 to have shape (None, None, 5) but got array with shape (2, 10, 1)`

[2017-11-28 03:35] yanghanxy opened #184 ""use_boundary" argument in CRF layer"
Hi, @linxihui

Thanks for your working on the CRF model,
it works well for me on a sequence labeling task.

I've got a question regarding the "use_boundary" argument:
`use_boundary: Boolen (default True) inidicating if trainable start-end chain energies should be added to model.`
Could you explain what is the usage of this argument?
And why you set True as its default value?

Thank you!

[2017-11-28 17:21] lucasdavid commented on #164
I still have this issue, installing contrib from master branch:
[code]
[code]

[2017-11-29 02:24] ahundt commented on #164
@tarlen5 @lucasdavid easiest thing to do would be to copy the function from a previous version of keras which included it. Even better would be to update the API to not need it. A pull request would be appreciated!

[2017-11-29 14:19] lucasdavid commented on #164
The problem's gone, actually. I'm sorry, I probably misdiagnosed it.

[2017-11-30 16:03] linxihui commented on #184
The lilkelihood with boundary in CRF is $exp(- alpha x_1 - \sum_{k=1}^{n-1} x_k^T U x_{k+1} - beta x_n) $, and  If it is `use_boundary=False`, then the likelihood will not have `alpha`, `beta`.   I see many implementation includes those boundary, that's why it default to True.  Also, with more parameter, it fills better.

[2017-12-01 07:42] yanghanxy commented on #184
Thank you for the explanation!

[2017-12-01 07:42] #184 closed

[2017-12-04 09:22] #183 closed

[2017-12-04 09:22] vilmar-hillow commented on #183
Fixed in keras 2.1.2

[2017-12-10 06:54] ahundt commented on #164
Fixed!

[2017-12-10 06:54] #164 closed

[2017-12-14 19:19] fchollet opened #189 "Moving repo to keras-team"
Please consider moving this repo to the `keras-team` GitHub organization, in order to have all Keras development repos in one place.

@farizrahman4u, you have been invited to be a member of the `keras-team` organization.

Note that as part of such a move, we should start enforcing the same development standards for `keras` and `keras-contrib`, which means:
- 80% + test coverage
- Passing Travis CI

[2017-12-15 18:38] MSiam opened #190 "DenseNet Imagenet Inference is Wrong"
I have tried using DenseNetImageNet121 on images it keeps getting new predicted label with each time I run on the same image with the same imagenet weights that are used by default.

Although when I am using the same exact code of inference but instead on ResNet50 it works to get the same output label as expected. Is the code by any chance not conditioning dropout on the train phase and is wrongly

[2017-12-15 20:09] voletiv opened #191 "TimeDistributed ResNet"
I am proposing to wrap TimeDistributed around raghakot's ResNet implementation. I shall be launching a PR. Please check https://github.com/raghakot/keras-resnet/pull/51#issuecomment-346921326 for details on the PR.

Often, CNN+LSTM architectures require a TimeDistributed version of CNNs - one CNN architecture acting on several time-distributed inputs, and then fed into an LSTM. I propose making a

[2017-12-17 21:07] mingwugmail opened #193 "keras-contrib only work with Keras 2.x, not 1.x?"
will it also support Keras 1.x?

Thanks.

[2017-12-17 21:39] BorisMarjanovic opened #194 "Add Randomized Leaky ReLU"
Randomized Leaky ReLU (RReLU) should be added to advanced activations. Several papers suggest its performance is superior to Parametric Leaky ReLU (PReLU).

[2017-12-18 22:49] ahundt commented on #189
I'd imagined a proving ground with a lower barrier to entry where code is hardened over time. Once the quality is high enough and the method is proven across enough applications, I'd expect it to ultimately be deleted from keras-contrib.

If those are the goals for keras-contrib, a slight tweak to those standards might be sensible.  Could you articulate your thoughts for this?

One issue is that t

[2017-12-18 22:55] ahundt commented on #153
@PavlosMelissinos is your version of the COCO dataset in a condition that can be merged here? My version isn't that great so it would be nice to pull it in!

[2017-12-18 23:31] ahundt commented on #191
sounds great, FYI I'm closing this issue and we can continue this conversation in the relevant PRs #167 and #192.

[2017-12-18 23:31] #191 closed

[2017-12-18 23:31] #105 closed

[2017-12-19 15:27] PavlosMelissinos commented on #153
@ahundt I've improved it a bit but it still needs a lot of cleaning up and I'm not actively working on it anymore. I want to make it more modular and there are a few things that I don't like. I've also pledged to contribute to a keras dataset project with @DEKHTIARJonathan which I've neglected for months (sorry Jonathan!). You can follow [that repo](https://github.com/DEKHTIARJonathan/keras-datase

[2017-12-20 14:02] ahundt opened #199 "Accurate Semantic Segmentation Example"
We are looking for semantic segmentation example contributions which demonstrate baseline quality results. Here are the goals, which can be submitted separately:

1. [Pascal VOC 2012 leaderboard](http://host.robots.ox.ac.uk:8080/leaderboard/displaylb.php?challengeid=11&compid=6) mIOU of 60, which can be done with a vgg 16 FCN.
2. [MSCOCO leaderboard](http://cocodataset.org/#detections-leaderboard)

[2017-12-21 19:41] ahundt commented on #153
Ok I actually think I will need to use coco for some stuff and I already use keras-contrib for that so I'd like to just replace the current coco loading script with yours, rather than any of the models or anything. Plus, the coco data format supports other datasets too so it will be super convenient!

[2017-12-22 08:44] PavlosMelissinos commented on #153
In that case feel free to take anything you want from my repo and modify it to your needs, I don't think I'll be doing any work on it for the next few days/weeks.

[2017-12-22 09:20] PavlosMelissinos commented on #153
Oh, on a side note, I originally preferred using json files to define dataset parameters but not anymore. One of the first things I'd change now is turn it into code ("hard-coded" object constants) to remove a layer of (unnecessary) abstraction & complexity.

[2017-12-22 15:15] ahundt commented on #193
keras-contrib is currently only unit tested against the [keras master branch](https://github.com/keras-team/keras/tree/master).

[2017-12-22 15:15] #193 closed

[2017-12-22 15:24] ahundt commented on #153
Yeah I've found that "hard coding" is actually the way to go in python, as long as you separate the APIs so that you can change the settings programmatically too. Essentially python becomes your programming language and your config file language, then your commits naturally keep track of exactly what you ran. :-)

[2017-12-28 04:07] ysyyork opened #203 "densenet memory consumption"
I try to use densenet to train my model but the memory consumption is too big. I use the same architecture but change densenet to resnet50, tho the total parameter number of resnet50 is much larger than densenet, I keep on getting out of memory error for densenet while resnet50 runs well.

https://github.com/liuzhuang13/DenseNet/tree/master/models

It seems the implementation affects densenet a lo

[2017-12-28 04:30] aptrishu opened #204 "Add learning rate finder"
A learning rate finder can easily be implemented as shown in https://arxiv.org/abs/1506.01186
I would make a PR if this functionality seems appropriate to add.

[2017-12-29 23:34] ahundt commented on #203
Thanks for the report! We know about the problem but we cannot address this issue due to the outstanding in tensorflow itself https://github.com/tensorflow/tensorflow/issues/12948. Please report that you are able to duplicate the problem at that link so it can be prioritized!

As for the other backends I haven't tried them and thus cannot comment about them. Since we can't do anything about it fro

[2017-12-29 23:34] #203 closed

[2018-01-02 23:49] ysyyork commented on #203
Thanks. just reported

[2018-01-05 13:32] ftamburin opened #209 "CRF layer documentation"
Hi,
I would like to extend the CRF layer slightly modifying the CRF architecture.
Could you please give me a pointer to the exact reference paper/tutorial/book where the original author extracted the equations described in the code comments?
If not, could you please give me a pointer to the main author of this layer.
Many thanks
F

[2018-01-06 20:46] anand-sonawane opened #210 "No weight files for resnet ?"
Why is that ResNet contains no pre-trained weight files for any of its version ? Weights trained on Imagenet data must be included in resnet file, if anyone wants to just train the top layers of the network.
I can make a pull and change the code so that it will add that functionality, if i am allowed to do that.

[2018-01-08 05:45] ahundt opened #211 "Travis error - mini conda scipy sparse"
Travis keeps encountering errors like the following:

[code]

https://api.travis-ci.org/v3/job/325623397/log.txt
Can anyone suggest a solution for this? I'm unable to reproduce it locally, and last I've checked the travis.yml is very to similar to the one in keras-team/keras/travis.yml.

[2018-01-08 08:19] RA-Danny commented on #209
@linxihui If I'm not mistaking, your wrote the CRF layer code (good work btw :) )

Can you point out which paper/formulas you've used to create the implementation ? I'm also interested in it.

Thanks

[2018-01-08 19:50] msalvaris opened #213 "Arguments to _obtain_input_shape in Densenet throw error. 🐛"
When creating a Densnet network I get the following error:

[code]
It seems that in Keras 2.1.2 the input arguments to _obtain_input_shape have changed to:

[code]
I am not 100% sure though

[2018-01-10 13:41] ahundt commented on #213
Yes I just had to fix that myself, I'll see if I can merge the patch over

[2018-01-10 14:55] ahundt commented on #213
Can you review & try out https://github.com/keras-team/keras-contrib/pull/214?

[2018-01-10 15:06] Dref360 commented on #211
Should be keras_contrib instead of keras-contrib?
The path to the module seems wrong.

[2018-01-11 17:12] shang-vikas commented on #213
still getting the same error. patch not applied. I manually updated the densenet.py file from titu1994's repo. now its working

[2018-01-12 03:00] ahundt commented on #213
yes the #214 review hasn't completed, it will be fixed once it is accepted and merged, or you can check out the version at that link

[2018-01-16 05:35] ahundt commented on #211
The repository is keras-contrib while the import directory is keras_contrib, an unfortunate naming choice but I don't think it is the source of the problem. This really appears to be some form of incorrect versioning of the libstdc++  .so file imported for scipy.sparse...

[2018-01-16 05:36] ahundt commented on #213
merged, this should work

[2018-01-16 05:36] #213 closed

[2018-01-22 03:55] Koziev opened #215 "Missing 'inbound_nodes' in CRF layer with Theano-1.0.1 & Keras Keras-2.1.3"
Trying to run [conll2000_chunking_crf.py](https://github.com/keras-team/keras-contrib/blob/master/examples/conll2000_chunking_crf.py) with no modification of repo code on Python 2.7.13,  Keras Keras-2.1.3 and Theano-1.0.1+30.g8aaf55bfc (bleeding edge versions for both), throws the following error:

[code]

[2018-01-22 16:33] FredRodrigues commented on #215
I solved this problem by downgrade the version of keras to 2.1.

[2018-01-23 06:43] Koziev commented on #215
Could you tell the proper version of Theano? I've tried Keras 2.1.0 and Theano 1.0.1:

[code]
And got another error when running conll2000_chunking_crf.py:

[code]

[2018-01-23 11:00] FredRodrigues commented on #215
I'm currently using tensorflow as backend. Regarding the error, have you changed the code ?

[2018-01-23 12:18] Koziev commented on #215
No, I have not.
I run unmodified conll2000_chunking_crf.py.

[2018-01-24 10:08] emirceyani commented on #215
@FredRodrigues it really worked. Thanks a lot!

[2018-01-24 17:16] Shnurre commented on #215
@FredRodrigues downgrading keras to 2.1.0 does indeed help the model to compile. Thank you a lot!

However I'm getting the same error as @Koziev had described above: "ValueError: Error when checking target: expected crf_1 to have shape (None, None, 23) but got array with shape (8936L, 7
8L, 1L)"
Looks like there are some problems with sparsity even when using CRF with "sparse_target=True". Indeed,

[2018-01-24 23:27] FredRodrigues commented on #215
Hey. I've just run the exact code from conll2000_chunking_crf.py file and haven't got any problem.

I don't know if this is the problem but actually i'm running Keras 2.0.6.
Try use the following versions:

[2018-01-25 07:43] Shnurre commented on #215
@FredRodrigues  Thanks a lot, man!
Downgrading keras to 2.0.6 did solve this problem for me.
Now conll2000_chunking_crf.py (as well as my own code which uses crf with sparse targets) works as it supposed to.

[2018-01-25 15:15] Koziev commented on #215
@FredRodrigues thank you for working solution!

Downgrading to keras==2.0.6 and switching to Tensorflow helps me.
KERAS_BACKEND=theano does not work (see https://github.com/keras-team/keras-contrib/issues/131).

[2018-02-01 10:47] anand-sonawane commented on #211
There is a difference in the .travis.yml for keras and keras_contrib

keras : nose scipy matplotlib pandas pytest h5py
keras_contrib : scipy matplotlib pandas pytest h5py

Also,

After digging regarding this I found the following 2 links useful :+1:
You can first try this : https://askubuntu.com/questions/575505/glibcxx-3-4-20-not-found-how-to-fix-this-error
and if this doesn't then check this com

[2018-02-01 12:03] agamemnonc opened #218 "SReLU not compatible with unknown input size?"
This:
[code]
will throw a TypeError:
[code]

However, this works fine:
[code]

I have also tested with a `Conv2D` layer and the issue still holds.

[2018-02-01 13:41] ersinyar commented on #136
@linxihui I don't understand how marginal mode works. How do we calculate marginal probabilities after CRF layer at each time step?

[2018-02-01 18:41] linxihui commented on #209
@ftamburin The formula for the CRF is already in the document here:
https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/layers/crf.py#L20-L21

The algorithm is forward and backward pass which you should be able to find in any book/tutorial on linear CRF.

[2018-02-02 04:53] ahundt commented on #211
@anand-sonawane cool, up for creating a PR to see if it works?

[2018-02-02 06:46] anand-sonawane commented on #211
@ahundt so i fixed the travis issue

Basically anaconda has out dated  libstdc++ library , so moved scipy from conda installations to pip installation,
Also, travis is failing due to a lot of errors in the CRF layer and had to ignore the test file for crf layer.

The PR is https://github.com/keras-team/keras-contrib/pull/217

[2018-02-03 06:15] ahundt opened #219 "Fix CRF + its unit tests"
Travis is currently disabled for [crf_test.py](https://github.com/keras-team/keras-contrib/blob/master/tests/keras_contrib/layers/crf_test.py) with `--ignore=tests/keras_contrib/layers/crf_test.py `.

Here is an example of the CRF failure:
https://travis-ci.org/keras-team/keras-contrib/builds/336427504?utm_source=github_status&utm_medium=notification

Here is when the test was disabled:
https://gi

[2018-02-03 06:15] ahundt commented on #211
Merged!

[2018-02-03 06:40] ahundt commented on #211
grumble grumble... [not quite out of the woods yet](https://travis-ci.org/keras-team/keras-contrib/jobs/336851037), apparently the curl command for downloading python 3.5 didn't work for one of the unit test modes...

I restarted the build, hopefully it will succeed.

[2018-02-04 01:00] ahundt opened #220 "create keras-contrib documentation website"
We would like help with generating a keras-team.github.io/keras-contrib equivalent to http://keras.io/.

[2018-02-04 01:00] ahundt commented on #211
Passing now, thanks for the help!

[2018-02-04 01:00] #211 closed

[2018-02-04 15:56] anand-sonawane commented on #220
@ahundt any idea where we can start? Would love to help

[2018-02-05 05:41] ahundt commented on #220
I think the code to generate the docs for keras is called in the travis script:
https://github.com/keras-team/keras/blob/master/.travis.yml

At the bottom of https://keras.io the page says:

Built with MkDocs using a theme provided by Read the Docs.
http://www.mkdocs.org/

So I guess check out the instructions there plus what's in travis to try and generate it?

[2018-02-05 06:18] ahundt commented on #220
I found the actual docs generation code in keras:
https://github.com/keras-team/keras/tree/master/docs

I think the best approach would be to bring that into keras-contrib and adapt it for this repository.

[2018-02-05 14:24] anand-sonawane commented on #220
I did some research and could create something similar to the keras documentation but need insights on how the autogen.py file in the docs folder is working. Could not understand where to exactly embed that file.

I got the following output because I cant figure that out
http://keras-contrib.readthedocs.io/en/latest/

[2018-02-06 04:20] oliviersoares opened #221 "resnets with repetition > 2 are failing (i.e. all resnets except ResNet-18)"
If you run the following code:

from keras_contrib.applications.resnet import ResNet18, ResNet101
cnn1 = ResNet18((224, 224, 3), 1000)
cnn2 = ResNet101((224, 224, 3), 1000)

The first resnet is created successfully, however the second one is failing with this exception:

  File "~/venv/local/lib/python2.7/site-packages/keras_contrib/applications/resnet.py", line 454, in ResNet101
    return ResNet

[2018-02-06 04:34] ahundt commented on #220
It looks like it defines a mapping between readme files and the classes that should go in them. Probably most of the stuff like the following would be deleted:
[code]

Then it can all be replaced with the items that actually exist here in keras-contrib.

[2018-02-06 05:11] oliviersoares opened #222 "Creating a resnet-152 -> exception when naming block"
If you create a big resnet (resnet-152 for e.g.), _block_name_base in file "keras_contrib/applications/resnet.py" will throw an exception:
[code]

If block < 27, its type will be converted to 'str', and if >= 27, its type will stay 'int'.

To fix it, replace:
[code]

with something like this:
[code]

[2018-02-06 05:18] oliviersoares commented on #222
Btw, it should be "26", not "27". '%c' (26 + 97) is character '{'.
You want to stop at 25 with character 'z'.

[2018-02-08 14:55] Mohamedemad4 opened #223 "Objective DSSIM for time distributed sequence prediction"
Hello, I thought It would be cool to have a DSSIM loss that takes multiple Images per sample for sequence to sequence image prediction so here is the code for the loss function I am proposing, [github gist](https://gist.github.com/Mohamedemad4/f2a843db22a9b06f57cf38b1ee930cff)
What Is your feedback? and can this be added?
, thank you

[2018-02-08 15:06] SSchott commented on #221
Found the same issue. Could you generate a pull request for this?

[2018-02-11 20:29] MLDSBigGuy opened #228 "scikit knn model passage to keras"
Hi, i am new to keras.

can i train a scikit learn knn classifer and pass that model to keras ?

I want to find the nearest neighbours of my test data. At the same time, learn train data incrementally.

Thank u,

[2018-02-12 07:26] anand-sonawane commented on #228
@MLDSBigGuy  These kind of questions are best suited to platforms like stackoverflow. You will get prompt and fast answers their. Please kindly refrain from posting questions here, this is a platform for any issues or concerns you have regarding the jkeras-contrib repository. Thanks !

[2018-02-13 22:19] mingwugmail opened #229 "DenseNet is not flatten at the last layer:"
input_shape = (224, 224, 3)
output_n = 2

model = DenseNetImageNet121(input_shape=input_shape, classes=output_n, weights=None)

the model summary:
.....

activation_121 (Activation)     (None, 7, 7, 1024)   0           final_bn[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 7, 7, 2)      2050        ac

[2018-02-14 08:06] anand-sonawane opened #230 "Weights and code synchronization"
When a new model is added, the person adding trains it on some dataset and provides the link to the weights, but then due to changes in the architecture of the model, the weights become non useful and then people get errors.

There needs to be some kind of synchronization mechanism about this issue because this leads to the main aim of the repo to fail as you are not able to train models with ease

[2018-02-14 16:27] mingwugmail commented on #230
The best thing to do is save & load *model* -- not just the weights, i.e.

from keras.models import load_model

  model = load_model(model_filename, custom_objects={...})

In this way, one will never worry about weights and code in sync problem.

[2018-02-22 03:36] siebeniris opened #233 "Citation for crf layer"
Hi, I am doing my bachelor thesis. I want to use the equation of the likelihood  function in    [https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/layers/crf.py](url), is there a paper I  can cite?

Thanks.

[2018-02-23 15:47] o-P-o opened #234 "AttributeError: 'CRF' object has no attribute 'inbound_nodes'"
I'm following the example from here: https://www.depends-on-the-definition.com/sequence-tagging-lstm-crf/#comment-89 (building a BiLSTM conditional random field named entity recognition classifier in keras).

When compiling the keras model:

`model.compile(optimizer='rmsprop', loss=crf.loss_function, metrics=[crf.accuracy])
`
the following error is returned:

[code]

If you need it, below is the e

[2018-02-27 10:04] LucasAnders1 commented on #204
I implemented a simple callback in keras which can be used to find an optimal learning rate. Feel free to use it:
[https://github.com/LucasAnders1/LearningRateFinder](url)

[2018-02-28 01:35] TIANRENK commented on #215
@FredRodrigues I already have this problem?
My following versions:
keras==2.0.6
keras-contrib==2.0.8
tensorflow without gpu ==1.4.0
Could  you tell me how to solve this problem?

[2018-02-28 15:53] FredRodrigues commented on #234
Check if this solves your problem. #215

[2018-02-28 15:54] FredRodrigues commented on #215
@TIANRENK  If you have the same versions as me I don't see what is causing the issue. But try looking at #219

[2018-02-28 15:56] FredRodrigues commented on #233
Perhaps, http://homepages.inf.ed.ac.uk/csutton/publications/crftut-fnt.pdf ?

[2018-02-28 16:25] tarmeens commented on #215
Unfortunately I have the same problem:
[code]

My versions:
keras == 2.0.6 (also tried with 2.1.1)
keras-contrib = latest (2.0.8)
tensorflow no gpu 1.4.0

[2018-02-28 16:34] FredRodrigues commented on #215
Hum.. I'm using python3.

[2018-02-28 18:26] Balance-Breaker commented on #220
@ahundt I would like to work on this issue.But I think first markdown documentation is required. For that can I open another issue regarding documentation and start contributing for the same.

[2018-03-01 00:39] mendesmiguel commented on #215
On my desktop I tried keras==2.1.2 and it worked. On my laptop it doesn't, then I decided to upgrade keras to the lastest version so far (2.1.4) and it worked. I'm still puzzled why it works on my desktop but doesn't on my laptop. To make sure my env is the same I'm isolating the packages using virtualenv.

[2018-03-01 08:38] tarmeens commented on #215
@FredRodrigues @mendesmiguel
I'm working on a laptop. I tried keras==2.1.1 and tf ==1.4.0 with Python 3.6.1 on Windows and it didn't work. I then updated keras to the latest version (2.1.4) and now it seems it is working. Thanks for yor help!

[2018-03-02 03:46] yidatao opened #235 "Initialize or fix the transition matrix in CRF layer"
Hi, I'm using keras lstm + crf to solve a NER task. I found that sometimes the crf layer outputs impossible label sequences such as B-Person -> I-Organization.

To eliminate impossible label transitions, I wanted to manually initialize or fix the transition matrix in crf layer, but couldn't figure out how. Is there any API to do such things?

Here is my code. Thanks for your help.
`model = Sequent

[2018-03-02 17:17] ahundt commented on #220
Sounds awesome, thanks!

[2018-03-07 05:11] dongzhuoyao opened #238 "any detail result about <One-Hundred-Layers-Tiramisu>?"
Thanks for your great keras-contrib project!!!

About the <One-Hundred-Layers-Tiramisu>,  it's easy to write the network structure code.

However a reproducible result is more helpful.

[2018-03-08 21:16] #189 closed

[2018-03-09 07:45] alexliyang opened #239 "Is there a plan for CondenseNet?"
"CondenseNet: An Efficient DenseNet using Learned Group Convolutions"   paper says it is more efficient than DenseNet.

[2018-03-13 21:26] sujanucsc commented on #132
@joelkuiper Were you able to solve this problem? I am having the same.

[2018-03-13 23:24] iliaschalkidis commented on #132
This works, just fine...

[code]

[2018-03-15 22:00] veronikayurchuk opened #240 "NASNet Mobile gives low accuracy on ImageNet"
Hi! I am working on transferring NASNet Mobile weights from Keras to Pytorch.
After transferring the weights and making predictions of the same image using both frameworks I am getting absolutely the same values both in confidence and in any middle layers of the network.

However, the evaluation of the imagenet using transferred weights in Pytorch gave me
Acc@1 38.110 Acc@5 60.844

Also, I tested

[2018-03-16 05:49] yzho0907 opened #241 "load_model() error after adding a CRF layer"
I was successfully training the model after adding a CRF layer on the top of BiLSTM. But there is a ValueError: Unknown layer: CRF throws when i try to load it.
Keras (2.1.5)
keras-contrib (2.0.8)
tensorflow 1.5.0 as backend

[2018-03-20 02:03] lzfelix commented on #241
An alternative solution for this issue is given on #125.

[2018-03-20 02:48] yzho0907 commented on #125
thx guys. well, saving function was okay but once i try to load the model by using load_all_weights(model,filename), then, the error below throws:
in load_all_weights
    topology.load_weights_from_hdf5_group(f['model_weights'], model.layers)
AttributeError: 'NoneType' object has no attribute 'layers
any idea how to fix?

[2018-03-20 14:17] lzfelix commented on #125
@yzho0907 by your error message it seems that you are setting `model = None` and then invoking `load_all_weights(...)`, although you first need to reconstruct your model instead.

Guys, the only way that I've found to make this solution to work was using the following snippet, where `build_bidirectional_model` builds the model on [examples/conll2000_chunking_crf.py](https://github.com/keras-team/k

[2018-03-21 07:43] stephen-v commented on #215
@FredRodrigues
i'm working . i tried keras =2.1.4 and tf ==1.4.0 with python 3.6.2 on Windows 10

[2018-03-30 08:23] forglin opened #244 "Index out of range using input dim 2,when implement crf"
I write code in keras trying to build a QA system,And I use a lstm layer to compute a representation for question,and Evidenve lstm for analyzing evidence. At last I trying to merge them together and feed them into another lstm layer to produce the "features" to CRF.

The CRF layer for sequence labeling which indicates whether each word in the evidence is at the beginning (B), inside (I) or outsid

[2018-04-03 15:01] ubersexualShupeng opened #246 "Install on windows"
Hi! How can I install this package on windows? What command should I use?
My keras package is using tensorflow as backend.
Thanks.

[2018-04-13 09:31] saksham219 commented on #204
Hi this link is broken. Could you provide the correct link? @LucasAnders1

[2018-04-19 08:29] nikhalster opened #248 "Pre-training DenseNetFCN with CIFAR10 weights"
In the DenseNetFCN method in applications/densenet.py, the comment in weights parameter states to use one of `None` (random initialization) or 'cifar10' (pre-training on CIFAR-10) . However, there is a check if weights is not None to raise a ValueError. Is the comment misleading or including an option to pre-train on cifar10 weights for DenseNetFCN is in development?

[2018-04-24 02:55] JeremyFxx commented on #239
Also looking forward someone could transfer the condensenet to keras.

[2018-04-27 22:48] NivNayman opened #249 "[API DESIGN REVIEW] A contribution of a convolutional GRU layer (ConvGRU2D)"
Well I wasn't sure if this is the right place to ask for permission for PR, but here is the template describing it:
https://docs.google.com/document/d/1Z_2Yd9N_Vj7Lh5Zt2ftuj5d3_m5Z6QQi-dsABxPPd70/edit?usp=sharing

[2018-04-30 13:34] kristosh opened #250 "Include the class information in the training"
I am using that implementation of wasserstein gans using my database which contain several classes. How can I include that information in the loss function firstly of the discriminator and then in the generator in order to be able to generate images from a specific class?

[2018-04-30 13:40] #250 closed

[2018-04-30 13:43] kristosh opened #251 "Inference of class information in the improved wasserstein GANs"
I am using the implementation of improved wassterstein gans in order to generate images from my database (a database with faces). However, in the current implementation of the gans there is not an inference of the class information in the code. What should i do in order to change the code by taking into account also the class information?

[2018-04-30 21:05] ahendry2688 commented on #246
I cannot install. I get error

error: [WinError 2] The system cannot find the file specified: 'c:\\python\\pyth
on36\\lib\\site-packages\\keras_contrib-2.0.8-py3.6.egg\\keras_contrib\\wrappers
\\__pycache__\\__init__.cpython-36.pyc.64320240' -> 'c:\\python\\python36\\lib\\
site-packages\\keras_contrib-2.0.8-py3.6.egg\\keras_contrib\\wrappers\\__pycache
__\\__init__.cpython-36.pyc'

[2018-04-30 23:34] ahendry2688 commented on #246
Okay...not sure what happened. But I did the following:

1. For starters, used Cygwin this time instead of Windows Command Prompt (elevated of course)
2. git cloned the repo, cd'd in, and ran ```py setup.py install```
3. After getting error, I uninstalled keras (```pip uninstall keras```)
4. Then re-ran ```py setup.py install``` in the same directory.

I got the following (successful) output:

[co

[2018-05-01 08:30] #251 closed

[2018-05-09 05:30] saxenarohit commented on #125
How to use this using checkpoint in keras?

[2018-05-17 08:57] BenSNW commented on #235
me too, have you got any idea? @ersinyar I'm considering writing another loss function to regularize those impossible transitions

[2018-05-18 14:46] mdetournay opened #253 "CRF layer negative loss"
Hi,

I am training an LSTM - CRF network for named entity recognition. When using crf.loss_function, I'm getting negative losses after a few epochs. Before I go on giving more details about my code, is this even possible with this crf.loss_function? I tried looking at  the code but with this recursive code I'm having trouble identifying where I could be getting negative values.

Thank you very muc

[2018-05-18 18:20] doggeral opened #254 "How to load the customized layer and loss function."
Hi,
I'm training the LSTM-CRF model for NER.
I used the `keras_contrib.layers import CRF` as the CRF layer. Once I finished the training, I saved the model by `model.save('testing_new_all_trainning_words.h5')`. But when I tried to load the model by
[code]
I got exception:
"ValueError: Unknown layer: CRF"

[2018-05-20 20:45] anand-sonawane commented on #254
# Required, as usual
from keras.models import load_model

# Recommended method; requires knowledge of the underlying architecture of the model
from keras_contrib.layers.advanced_activations import PELU

# Not recommended; however this will correctly find the necessary contrib modules
from keras_contrib import *

# Load our model
model = load_model('example.h5')

Do try something like above , pleas

[2018-05-21 18:14] alexpython1988 commented on #253
I have the same problem. I tried to mask the padding 0s, but no luck. I wonder if this issue is related to the position where we pad the 0. I padded the 0 in front of each training sample, I wonder if anyone tried post padding?

[2018-05-23 14:11] zungam opened #255 "Trick to double the training speed (improvement)"
Hi, I managed to double the training speed of Mask-RCNN with ResNet101 as backbone with a simple change to Keras. Today Keras can use generators to yield batches ready for the next training step. This is good, because it means while the GPU is training, the CPU can make batches ready. However, the problem is if batches is of different sizes, or requires different loading times due to augmentation

[2018-05-24 05:01] Jie-Yuan opened #257 "cannot import name 'image_data_format'"
cannot import name 'image_data_format'

[2018-05-25 09:35] Euruson commented on #131
I met the same problem with ``Keras 2.1.5`` and ``Theano 1.0.1`` on Win10.
![image](https://user-images.githubusercontent.com/27568823/40537596-e7b79b48-6041-11e8-8771-aeb5fd29efd7.png)

[2018-05-25 10:11] Euruson commented on #253
Is your backend Theano? Maybe you can see #131.

[2018-05-25 18:48] doggeral commented on #254
@anand-sonawane It didn't work. I still get the same error. My keras version is 2.1.6

[2018-05-25 19:36] doggeral commented on #129
@codertimo have you solved the issue? Can you help to share some hints with me?

[2018-05-28 13:32] tlokeshkumar opened #259 "[API DESIGN REVIEW] Accelerating fine tuning using bottlenecks"
Fine tuning with bottlenecks will save both time and effort in many cases. So here's a proposal of a feature add-on which enables this task. Google doc describing this is [here](https://docs.google.com/document/d/1_iA86_YLXarOJd6PV_YGcUsYnpsNVUc-Ma7WC5w1t58/edit?usp=sharing).

[2018-05-28 17:13] josemarcelino opened #260 "Cannot import saving from keras.engine"
The commit done in the Keras project, which deprecates topology isn't associate with a release tag yet
This means that this last commit in Keras_contrib will only be usable after Keras 2.1.6. Since Keras_contrib doesn't have tags associated it is currently breaking upon build.

The quick fix was to point towards a previous commit.

[2018-05-28 20:40] rola93 opened #261 "keras_contrib.callbacks.DeadReluDetector: IndexError: list index out of range"
It seems that layers without weights raise this error, for example whit batchNormalization. I'm not sure if this migth happen with another layer.

I'm following [this tutorial](https://blog.keras.io/building-autoencoders-in-keras.html) and modified it a little to add a batch normalization layer. Here goes the code:

[code]
I have it in bug.py and when I run it, throws:

[code]

*proposed solution*

[2018-05-29 11:10] adambielski commented on #221
still an issue...

[2018-05-29 11:31] SSchott commented on #221
Sadly yes, but either add it to the code by yourself or get the one I added. Is one line anyway, so shouldn't be such a big issue.

[2018-05-30 18:02] rola93 commented on #261
Thanks for your suggestion but I'm also using batch normalization, so I need to use it as a layer, don't I?

I used my proposed solution locally and it seems to work, please let me know when this fix is available :smile:

[2018-05-31 13:28] find-fun commented on #215
@FredRodrigues
I'm working. Firstly. I tried keras 2.06, 2.08, 2.1.0, 2.1.6, and they all didn't work. Finally, I find the tenflow wrong! When I upgrade the tensorflow to 1.8.0, and with keras2.1.6, it works! Thanks!

[2018-05-31 18:54] LambertMark opened #265 "Shape error when using CRF for binary segmentation"
I am trying to apply a CRF layer to my network for binary segmentation, but it is resulting in an error:

I want to output a tensor with the shape (batch_size, 224, 336, 1). Based on the error, the img_height appears to have been lost once the CRF was introduced.

I am using Keras 2.1.5 with the tensorflow backend on python 3.5.

Below is some sample code describing my model. Without the CRF at th

[2018-05-31 22:56] franklin5 opened #266 "save_load_utils is breaking due to keras versions"
Basically, keras-contrib does not have a stable release yet. The problem is that keras-contrib/utils/save_load_utils.py tries to do “from keras.engine import saving” and keras latest version 2.1.6 does not have saving.py under keras/engine (https://github.com/keras-team/keras/tree/2.1.6/keras/engine), while the bleeding edge (https://github.com/keras-team/keras/tree/master/keras/engine) has saving

[2018-06-01 10:16] arodiss commented on #261
Yes, if you want to put BN inbetween convolution and activation you need separate layer
You can subscribe to mentioned PR and gt notification when it's merged. Don't expect it to be very soon though

[2018-06-02 20:01] daas-ankur-shukla commented on #159
I also encountered the same error

[2018-06-04 07:33] skhong0831 commented on #131
I have the same problem with keras 2.1.5 and theano 1.0.1 on ubuntu 16.

[2018-06-11 06:47] anush6 commented on #234
Even i am having the same issue

[2018-06-11 11:44] WillieMaddox opened #268 "Rules for Unit Test syncing?"
Hello,
I noticed that a lot of the unit tests in `keras-contrib` are out of date with the unit tests found in the most recent version of `keras`.  If I write a new layer, should I update the corresponding unit tests as well?
Thanks.

[2018-06-11 12:00] WillieMaddox opened #269 "Phased LSTM?"
Has anyone attempted this?
(https://arxiv.org/pdf/1610.09513.pdf)
I haven't found any open/closed issues or pull requests that request or even mention it.  I ran across an [older](https://github.com/fferroni/PhasedLSTM-Keras) version and modified it to work with the `tensorflow=1.8` and `keras=2.2.0`.
Is there any interest in this?

[2018-06-12 18:03] maxfriedrich opened #271 "Combined model with CRF layer: "An operation has `None` for gradient""
I'm chaining two Keras models so I can re-use part of a it in a third model that is trained separately later on. When I use the CRF layer as the last layer of my combined model, I get the "An operation has `None` for gradient." error.

<details>

[code]

</details>
&nbsp;

When inspecting the gradients list in Keras's `optimizers.py`, I see that the gradient becomes `None` on the model boundary.

[2018-06-13 08:33] maxfriedrich commented on #271
Update: training works when I set `learn_mode='marginal'`, so I'm using that for now. I'd still be interested in why this breaks with `learn_mode='join'`, though.

[2018-06-19 15:38] linchundan88 opened #273 "application.resnet has a bug"
line:153 dilation_rate=dilation_rates[i],
dilation_rates=(1, 1)
How about i>1

should be dilation_rates = [(1, 1)] * blocks ？

[2018-06-19 15:38] linchundan88 commented on #273
and other bugs.

[2018-06-20 05:42] #261 closed

[2018-06-20 15:09] kamei86i commented on #129
@codertimo Did you find a viable solution different from #125 ?

[2018-06-20 17:37] dterg commented on #260
Which commit worked for you @josemarcelino?

[2018-06-20 18:01] titu1994 commented on #266
The workaround was to drop support for sequential levacy models for the time being, so that the tests could pass.

They have been backlogged for almost two versions of Keras at this point.

If and when we find a way to add the `from keras.legacy import models as legacy_models` line in a future release of Keras, the support for legacy sequential models will be added again.

In general, legacy suppo

[2018-06-20 18:56] dterg commented on #125
Same error here @lzfelix

[2018-06-21 11:37] JoaoFaria opened #275 "Tagging"
Please, start tagging the project. It gets extremely confusing to manage versions by only relying on specific commits.

[2018-06-21 14:33] kamei86i commented on #129
Taking inspiration from here: https://github.com/Hironsan/keras-crf-layer
I think I've found a work-around solution.

to save a model, just use the save method of model...
`model.save(path)`

to reload the model I use this:

`
from keras_contrib.layers import CRF
from keras.models import load_model

def create_custom_objects():
    """Returns the custom objects, needed for loading a persisted mode

[2018-06-22 03:11] aslicedbread opened #276 "confused about the _inbound_nodes and _outbound_nodes in crf.py"
Unfortunately, I also meet the same problem on my **laptop B** with windows 8.1 : AttributeError: 'CRF' object has no attribute 'inbound_nodes' .
（It's fine on my **laptop A** with centos. **Env**:
tensorflow 1.3.0
tensorflow-tensorboard 0.1.5
numpy 1.11.3
keras 2.1.5
keras-contrib 2.0.8)

At first, I tried to upgrade the keras from 2.0.8 to 2.1.5 and downgrade the tensorflow from 1.8.0 to 1.3.0 o

[2018-06-25 21:51] lzfelix opened #278 "Negative CRF loss if mask_zero=False"
When training a simple model with CRF its loss becomes negative after some time if `mask_zero=False`, which I've noticed while working on a larger BiLSTM+CRF for NER. My bigger model converges to ~90% acc without the CRF layer and to ~95% with the CRF layer, but its loss starts slightly positive and keeps decreasing until it becomes negative. This behaviour is quite unexpected since, as far as I c

[2018-06-26 18:09] linxihui commented on #265
@LambertMark  CRF only supports sequential data, NOT spatial data. Thus the input should be 3D inputs,  i.e., `(batch_size, seq_len, features)`.

[2018-06-26 19:23] LambertMark commented on #265
That explains it.  I want to use the CRF as a way to improve image segmentation results like in [this DeepLab paper.](https://ieeexplore.ieee.org/abstract/document/7913730/)  Is there another CRF package for keras that can do something like this?

[2018-06-26 23:51] mary-octavia commented on #125
I can't even use save_load_utils. It's getting an import error

    from keras.engine import saving
ImportError: cannot import name 'saving'

[2018-06-27 10:34] josemarcelino commented on #260
@dterg I used this one https://github.com/keras-team/keras-contrib/commit/bc721beaaa674a34232c139dc35b1b1207363d7f

[2018-06-28 02:18] lzfelix commented on #125
For reference, the solution posted on #129 seems to work, although #272 is addressing this problem.

[2018-06-28 17:30] mary-octavia commented on #125
As an update, I managed to fix the saving import error by just updating keras (and modifying something in models.py). Now save_load_utils seems to work properly (.evaluate() gives me the same score on the same test data before and after loading...)

[2018-06-29 09:23] yzho0907 commented on #125
@mary-octavia did u mean updating keras to the latest version? if not, which version? thx

[2018-07-02 14:17] LambertMark commented on #265
I was able to do segmentation with spatial data by adapting [this guide](http://warmspringwinds.github.io/tensorflow/tf-slim/2016/12/18/image-segmentation-with-tensorflow-using-cnns-and-conditional-random-fields/) for keras.  Closing issue.

[2018-07-02 14:17] #265 closed

[2018-07-02 19:40] justinessert opened #280 "Is The WGAN Wasserstein Loss Function Correct?"
I'm struggling to understand why the Wasserstein Loss function is correct, as seen below:

[code]
The comment in the code says that this works if your labels are -1 for generated images and 1 for real images. If we assume that disc_real and disc_fake are the outputs of the discriminator with only real and fake image, respectively, then:

Therefore, the loss functions that this defines are

The rea

[2018-07-02 20:15] DavidS3141 commented on #280
Your conclusion is not quite correct for the implementation in keras. As you can see from the definition of the Wasserstein loss, it clearly depends on the labels we feed into the model. So for the [discriminator](https://github.com/keras-team/keras-contrib/blob/master/examples/improved_wgan.py#L279-L280) the we feed +1 as label for real and -1 for fake images, here your conclusion was correct. Th

[2018-07-02 20:17] justinessert commented on #280
It did, thanks for pointing that out!

[2018-07-02 20:17] #280 closed

[2018-07-04 07:40] JiamingJiao commented on #280
Sorry but I still do not understand this:

I don't know why sign does not matter.
Let's think about only training of discriminator.
Assume that a label of 2 images is (-1, 1), which means (real, fake)
If the discriminator gives perfectly correct result, which is (-1, 1), the average loss will be 1.
If the discriminator cannot distinguish the inputs so its prediction is (0, 0), the loss will be 0.

[2018-07-04 07:51] DavidS3141 commented on #280
The paper calls this second network not a discriminator but a critic. The important difference is, that the network does not try to match the labels `y_true`, but tries to minimize the loss `K.mean(y_true * y_pred)`.

Dont know how you reasoned this, but essential the critic tries to minimize the output `y_pred` for real images (this is `+1 * y_pred`) and maximize the output for fake images (as it

[2018-07-04 09:09] DavidS3141 commented on #280
I think you got the right idea, yes!
But to be precise, the actual answers to your questions would be "no". The reason for this is, that the critic can have an arbitrary offset, so if you have a critic C(x) with loss L, and another critic C'(x)=C(x)+K, which has just a shifted output by K, the loss would be still L, the same as for C, because the +K term would cancel for all the fake and real data

[2018-07-05 09:37] saxenarohit opened #281 "Documentation for CRF"
I am not able to make out what is the feature function in this layer. Is it using Transition Matrix?

[2018-07-06 17:28] justinessert commented on #280
So I understand that we can define the losses with either sign, which would be why its ok to define the losses as `disc_real - disc_fake` instead of the author's `disc_fake - disc_real` if you also change the sign on the generator's loss, because you are essentially saying `disc_fake-disc_real = - (disc_real-disc_fake)`.

But considering that the actual loss function is `disc_fake - disc_real + gr

[2018-07-09 16:25] erwin999888 opened #282 "ImportError: No module named 'data_loader'"
from __future__ import print_function, division
import scipy

from keras.datasets import mnist
from keras_contrib.layers.normalization import InstanceNormalization
from keras.layers import Input, Dense, Reshape, Flatten, Dropout, Concatenate
from keras.layers import BatchNormalization, Activation, ZeroPadding2D
from keras.layers.advanced_activations import LeakyReLU
from keras.layers.convolutional

[2018-07-13 03:26] ghost opened #283 "ModuleNotFoundError: No module named 'keras_applications'"
This is should be "keras.applications", but it is "keras_applications" in .densenet
This is because files in /keras_contrib/applications is wrong

[2018-07-18 10:38] Neeraj-Natu opened #286 "ROC AUC metric"
For now i need to write a callback function to use the ROC AUC metric from sklearn, can we add this a Keras  metric instead.

[2018-07-19 13:32] dendisuhubdy commented on #278
Found this too

[2018-07-19 16:31] ajaskier opened #288 "CRF with semantic segmentation network. Shapes are not compatible error."
I have troubles with integration of semantic segmentation network and CRF layer.

This is the chunk of code where I'm trying to build a network:

[code]

The first 7 lines are responsible for building Unet-like architecture. Then I would like to add CRF on top of that. When I run this code this is the output that I get:

<details>
<summary>Output</summary>

[code]

</details>

I don't really know

[2018-07-23 14:17] ilyassh opened #289 "Used loss function in "Improved Wasserstein GAN""
Hello,

I'm trying to implement the Wasserstein GAN but i find confusing the expression you use as the wasserstein loss function.

I tried used 2 identical vectors and compared their earth mover distance (or 1-Wasserstein distance) using your function (slightly modified for evaluation):

def wasserstein(y_pred,y_true):
    return K.eval( K.mean(y_pred*y_true) )
y_pred = y_true = K.variable(np.arra

[2018-07-25 08:39] Red-Eyed opened #290 "ResNet: cannot stack model"
[code]
Get error:

[2018-07-26 05:44] stevewyl commented on #278
I also encountered this situation. But I am using CNN to do sequence labeling，so I cannot set mask_zero=True in Keras. When using RNN，the CRF loss is about 5-6, but when using CNN, the loss becomes quite small and then become negative.

[2018-07-30 06:59] keisen opened #291 "Can't import keras-contrib with keras2.2.1+"
[code]

`keras.utils.conv_utils#normalize_data_format()` already moved into `keras.backend.common` .
For details, please see below.

https://github.com/keras-team/keras/pull/10690

[2018-07-30 15:13] wilderrodrigues commented on #291
I'm looking into it.

[2018-08-03 19:06] sharonrapoport commented on #253
I have the same issue, did you end up figuring this out?

[2018-08-03 20:14] lzfelix commented on #253
Not yet, as I’m masking my inputs... But it should be fixed..

On Fri, 3 Aug 2018 at 16:07 Sharon Rapoport <notifications@github.com>
wrote:

[2018-08-03 20:15] lzfelix commented on #253
By the way, even if you don’t need masking, I have found that adding a
dummy mask layer after the input layer fixes this issue...

On Fri, 3 Aug 2018 at 17:14 Luiz Felix <lzcfelix@gmail.com> wrote:

[2018-08-06 17:21] PEE8 opened #297 "trace error"
File "<ipython-input-8-56ea2da11a4b>", line 7, in <module>
    from keras_contrib.applications import densenet

Please let me know why this occurs?
[pic_of_anaconda_prompt.docx](https://github.com/keras-team/keras-contrib/files/2263578/pic_of_anaconda_prompt.docx)

[2018-08-10 20:08] brownpanther commented on #288
hi alexsander, did you figure this out?

[2018-08-10 21:17] Pranav-Rastogi commented on #297
@PEE8 `from keras_contrib.applications import densenet` seems to work fine for me. Does `import keras_contrib` work on your system?

[2018-08-10 23:12] PEE8 commented on #297
[keras_trouble_shooting.docx](https://github.com/keras-team/keras-contrib/files/2279700/keras_trouble_shooting.docx)
no, keras_contrib also displays the same error ....

[2018-08-11 10:25] Pranav-Rastogi commented on #297
You can try the following:
[code]
At this point you must be able to import keras in your virtual environment but importing keras_contrib will give you `ImportError`. To fix this, open `temp\lib\site-packages\keras_contrib\layers\convolutional.py` in your text editor and change line 15 (`from keras.utils.conv_utils import normalize_data_format`) to `from keras.backend.common import normalize_data_f

[2018-08-11 11:56] PEE8 commented on #297
[keras_troubleshoot.docx](https://github.com/keras-team/keras-contrib/files/2280187/keras_troubleshoot.docx)
I was able to run all commands except

and finally it is not importing keras and keras_contrib .
I did change the line 15 as you said.
all the results of the commands are shown in the at

[2018-08-11 13:15] Pranav-Rastogi commented on #297
@PEE8 creating a virtual environment will do effectively the same thing.

[2018-08-11 13:30] PEE8 commented on #297
[trouble_shoot.docx](https://github.com/keras-team/keras-contrib/files/2280266/trouble_shoot.docx)
it is showing error when import keras_contrib is given

[2018-08-11 13:43] Pranav-Rastogi commented on #297
What's the error you get?

[2018-08-11 13:45] PEE8 commented on #297
i am running a sample model program
it displays error as
from .training import Model

ModuleNotFoundError: No module named 'keras.engine.training'

when i run sequential.py file
it displays
File "C:/Users/Prisilla/Anaconda3/Lib/site-packages/keras/engine/sequential.py", line 10, in <module>
    from . import network

ImportError: cannot import name 'network'

[2018-08-11 13:49] PEE8 commented on #297
the error i get for import keras_contrib
c:\users\prisilla\....\convolutional.py  line 15
from keras.utils.conv_utils import normalize_data_format
Importerror: cannot import name 'normalize_data_format'

[2018-08-11 13:51] Pranav-Rastogi commented on #297
To fix this, open `temp\lib\site-packages\keras_contrib\layers\convolutional.py` in your text editor and change line 15 (`from keras.utils.conv_utils import normalize_data_format`) to `from keras.backend.common import normalize_data_format`.

[2018-08-11 13:55] PEE8 commented on #297
i did when you asked first

from keras import backend as K
from keras import activations
from keras import initializers
from keras import regularizers
from keras import constraints
from keras.engine import Layer
from keras.engine import InputSpec
from keras.layers.convolutional import Convolution3D
from keras.utils.generic_utils import get_custom_objects
from keras.utils.conv_utils import conv_out

[2018-08-11 14:07] Pranav-Rastogi commented on #297
You'll have to make these changes in the new environment that you have just created.

[2018-08-11 14:10] PEE8 commented on #297
How?

On Sat, 11 Aug 2018 at 7:37 PM, Pranav Rastogi <notifications@github.com>
wrote:

[2018-08-11 14:15] Pranav-Rastogi commented on #297
There will be a folder with the same name as your virtual env on your desktop. inside that folder navigate to `lib\site-packages\keras_contrib\layers`. Here you'll find a file named `convolutional.py`. Edit this file.

[2018-08-11 14:49] PEE8 commented on #297
Yes, I found a temp folder created on my desktop inside which I found the
Convolutional.py file and edited it..
And now I run the command import keras_contrib.
Next...

On Sat, 11 Aug 2018 at 7:45 PM, Pranav Rastogi <notifications@github.com>
wrote:

[2018-08-11 14:51] PEE8 commented on #297
On Sat, 11 Aug 2018 at 8:19 PM, prisilla jayanthi <prisillaj28@gmail.com>
wrote:

[2018-08-11 14:55] Pranav-Rastogi commented on #297
Are you able to import keras_contrib now without errors? If yes, then you can try an [example](https://github.com/keras-team/keras-contrib#example-usage)

[2018-08-11 15:46] PEE8 commented on #297
When i was getting error in import keras ,tensorflow  and keras_contrib , i found errors while running the code as in attachment. Later i try an other example for which it shows as training.py", line 33, in <module>
    class Model(network):
TypeError: module.__init__() takes at most 2 arguments (3 given)

Even now when i run the example which you asked me.. the same error i am getting
class Model

[2018-08-11 15:57] Pranav-Rastogi commented on #297
Looks like your spyder is not using the virtual env that you created hence the errors. You'll need to find out how to run your py files in spider using a virtual env.

[2018-08-11 15:58] PEE8 commented on #297
No. the errors are coming before i started the virtual env
should i delete all the interconnected module files so that  new files can be created.

[2018-08-11 15:59] PEE8 commented on #297
ok ... i will check

[2018-08-11 16:05] Pranav-Rastogi commented on #297
No. That's the thing about virtual environments, the are already isolated from the rest of your system.
The error in your second image suggests that your spyder is not looking inside your virtual env.

I haven't personally used spyder ever so won't be able to help much but maybe [this](https://stackoverflow.com/q/30170468) will be helpful.

[2018-08-11 16:27] PEE8 commented on #297
1. For activating the virtualenv
activate virtualenv
2. to install spyder in virtualenv
conda install -n virtualenv spyder

hope this is correct...
pip install Spyder from virtual env and also
pip install PyQt5
restart spyder
i tried running example code but it gives errors as follows
File "C:/Users/Prisilla/Desktop/Semantics/keras_FCN/Practice_Ex.py", line 1, in <module>
    from keras.models imp

[2018-08-11 16:29] PEE8 commented on #297
I used the same site

[2018-08-11 17:16] PEE8 commented on #297
from spyder -->select tools-->perferences-> python interpreter->use the following python interperter
and set the path as follows
C:/Users/Prisilla/Desktop/temp/Scripts/python.exe
then i run the example code
but then i get the same
 File "C:/Users/Prisilla/Desktop/Semantics/keras_FCN/Practice_Ex.py", line 2, in <module>
    from keras.models import Sequential

  File "C:\Users\Prisilla\Anaconda3\li

[2018-08-11 17:54] PEE8 commented on #297
I set the path from tools--> PYTHONPATHmanager and added new path but it didnot work
finally, I used

 from anaconda prompt , this command is used to activate spyder from virtual env and used the temp folder

and the example code worked with any errors and example.h5 is created as output file.

Thanks!

[2018-08-11 18:29] EvilPort2 commented on #253
dummy mask layer after the input layer fixes this issue...

@lzfelix How do I do that? I am new to this thing. Currently this is my code.
[code]

[2018-08-11 18:35] PEE8 commented on #297
Now let me try my program...
it is unable to import cv2
even after i copied https://download.lfd.uci.edu/pythonlibs/l8ulg3xw/opencv_python-3.4.2-cp36-cp36m-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/l8ulg3xw/opencv_python-3.4.2-cp36-cp36m-win32.whl
in Scripts folder

[2018-08-12 06:03] PEE8 commented on #297
[cv2.docx](https://github.com/keras-team/keras-contrib/files/2280759/cv2.docx)
why is it rolling back?

[2018-08-12 06:45] PEE8 commented on #297
Yes! i was able to install cv2

successfully opencv-python-3.4.2.17
When i run my code...
I donot find the error : unable to import cv2

but ModuleNotFoundError: No module named 'utils.get_weights_path' is still there

[2018-08-12 10:28] PEE8 commented on #297
[utils.docx](https://github.com/keras-team/keras-contrib/files/2280883/utils.docx)
No module named 'utils.basics'  --- from where can i get this?

[2018-08-12 12:06] Pranav-Rastogi commented on #297
[This](https://github.com/aurora95/Keras-FCN/tree/master/utils) might be helpful.

[2018-08-12 13:52] PEE8 commented on #297
[abc.docx](https://github.com/keras-team/keras-contrib/files/2281010/abc.docx)
I changed utils folder name to xyz and saved all files

[2018-08-12 15:29] PEE8 commented on #297
I am able to run the train.py with slight changes in it but
 File "C:/Users/Prisilla/Desktop/Semantics/keras_FCN/train.py", line 210, in <module>
    class_weight=class_weight)

  File "C:/Users/Prisilla/Desktop/Semantics/keras_FCN/train.py", line 151, in train
    steps_per_epoch = int(np.ceil(get_file_len(train_file_path) / float(batch_size)))

  File "C:/Users/Prisilla/Desktop/Semantics/keras_F

[2018-08-12 18:16] PEE8 commented on #297
I get the following error when i run inference.py
OSError: Unable to open file (unable to open file: name = 'C:\Users\Prisilla\Desktop\Semantics\keras_FCN\Models/DenseNet_FCN\checkpoint_weights.hdf5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)

[2018-08-12 19:50] brownpanther commented on #288
I read another GitHub issue that said this is because the crf layer in keras right now is for sequential data and not spatial image data. That's probably the reason.

[2018-08-13 17:39] Pranav-Rastogi commented on #297
The error says that the file `checkpoint_weights.hdf5` is not present. Make sure it is actually there. If it is there indeed, maybe changing all your backslashes to forward slashes will be helpful.

[2018-08-13 23:59] PEE8 commented on #297
It is not present and where can i find it.
I did browse for  checkpoint_weights.hdf5--but no clue.

[2018-08-14 01:13] PEE8 commented on #297
How to create an HDF5 file

This programming model shows how to create a file and also how to close the file.

    Create the file.
    Close the file.

The following code fragment implements the specified model. If there is a possibility that the file already exists, the user must add the flag H5ACC_TRUNC to the access mode to overwrite the previous file's information.

hid_t       file;

[2018-08-14 06:00] PEE8 commented on #297
[new1.docx](https://github.com/keras-team/keras-contrib/files/2285657/new1.docx)

when i try import theano it gives error as shown in attachment

[2018-08-14 08:32] PEE8 commented on #297
https://github.com/aurora95/Keras-FCN
in the above link, the  checkpoint_weights.hdf5 is not present in any folder.

[2018-08-14 12:10] PEE8 commented on #297
File "C:\Users\Prisilla\Desktop\Semantics\keras_FCN\xyz\SegDataGenerator.py", line 174, in __init__
    fp = open(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Prisilla/.keras/VOCdevkit/VOC2012/ImageSets/Segmentation/train.txt' ----> slash

[2018-08-14 13:31] Pranav-Rastogi commented on #297
checkpoint_weights is a file that must get created when you train your model. This file will then be used at the time of testing or retraining your model. So basically, This file must get created automatically when you train your model.

[2018-08-14 14:36] PEE8 commented on #297
In the link... model.py shows no errors. Train.py and inference.py is
showing error. And is not able to create the checkpoint_weights.hdf5.
Please let me where the mistake is.

On Tue, 14 Aug 2018 at 7:01 PM, Pranav Rastogi <notifications@github.com>
wrote:

[2018-08-15 12:19] #223 closed

[2018-08-16 03:14] Pranav-Rastogi commented on #297
This seems to be a problem with the above linked repository and should be a separate issue in that repository. Create an issue there and people might be able to help you better. 😄

[2018-08-16 06:35] PEE8 commented on #297
When i run transfer_FCN.py  it runs and but i am unable to trace the file named "resnet50_weights_tf_dim_ordering_tf_kernels.h5"
can i know where it is located?

runfile('C:/Users/Prisilla/Desktop/Semantics/keras_FCN/xyz/get_weights_path.py', wdir='C:/Users/Prisilla/Desktop/Semantics/keras_FCN/xyz')
Reloaded modules: Smodels, xyz.get_weights_path, xyz.basics, xyz.resnet_helpers, xyz.BilinearUpSamp

[2018-08-16 11:52] PEE8 commented on #297
[get_file.docx](https://github.com/keras-team/keras-contrib/files/2293565/get_file.docx)
when i run get_weights_path.py.
it is creating file named resnet50_weights_tf_dim_ordering_tf_kernels.h5 successf

[2018-08-17 07:50] yuyijie1995 commented on #291
Have you solve this problem?

[2018-08-17 07:53] yuyijie1995 opened #298 "ImportError: cannot import name 'normalize_data_format'"
When I use keras2.2.2 to import the layer instanceNormalization ,the error happened .What should I do?
The full error log like below
File "D:\yuyijie\kerasceshi\keras-yolo3\yolo_IN.py", line 5, in <module>
    from keras_contrib.layers.normalization import InstanceNormalization
  File "D:\yuyijie\kerasceshi\keras-yolo3\keras_contrib\__init__.py", line 4, in <module>
    from . import layers
  File

[2018-08-17 23:36] JohnGiorgi opened #299 "How would you add keras-contrib as a dependency to setup.py?"
I don't know if this is the best place to ask this, but I cannot seem to figure it out.

I want to add `keras-contrib` to my `setup.py` as a dependency. The accepted answer on [this](https://stackoverflow.com/a/32689886) Stackoverflow post gets me part of the way there.

I guess the idea is to structure `setup.py` like so:

[code]

However, calling `pip install -e .` from the directory where `setu

[2018-08-17 23:39] JohnGiorgi commented on #298
Looks like this was brought up previously (#291) and is part of an open pull request (#292).

[2018-08-20 06:10] PEE8 commented on #297
serialized_pb=_b('\n/tensorflow/core/framework/resource_handle.proto\x12\ntensorflow\"r\n\x13ResourceHandleProto\x12\x0e\n\x06\x64\x65vice\x18\x01 \x01(\t\x12\x11\n\tcontainer\x18\x02 \x01(\t\x12\x0c\n\x04name\x18\x03 \x01(\t\x12\x11\n\thash_code\x18\x04 \x01(\x04\x12\x17\n\x0fmaybe_type_name\x18\x05 \x01(\tBn\n\x18org.tensorflow.frameworkB\x0eResourceHandleP\x01Z=github.com/tensorflow/tensorflow/

[2018-08-20 14:32] #65 closed

[2018-08-21 07:59] keisen commented on #291
@yuyijie1995 , I created a PR #292 . Please refer to it.

[2018-08-21 17:09] PEE8 commented on #297
File "C:\Users\Prisilla\Anaconda3\lib\site-packages\tensorflow\core\framework\resource_handle_pb2.py", line 22, in <module>
    serialized_pb=_b('\n/tensorflow/core/framework/resource_handle.proto\x12\ntensorflow\"m\n\x0eResourceHandle\x12\x0e\n\x06\x64\x65vice\x18\x01 \x01(\t\x12\x11\n\tcontainer\x18\x02 \x01(\t\x12\x0c\n\x04name\x18\x03 \x01(\t\x12\x11\n\thash_code\x18\x04 \x01(\x04\x12\x17\n\x0

[2018-08-24 21:43] lzixuan commented on #129
@kamei86i Thank you for this solution, and using it to reload the model works well on the "predict" function. However, when I tried to use the "evaluate" after loading the model, it raised an "Incompatible shapes" exception.

[2018-08-25 08:36] markroxor commented on #107
Can I take this up?

Actually I am using spatial transformer networks for my research work but every time I have to import the custom STN layer (created by me by modifying OPs work a bit ). If STN were part of Keras I won't have to make indirect imports in my code.

Please treat this as urgent.

[2018-08-26 19:34] mpekalski commented on #283
Just checked out master and tried to build.

[code]

[2018-08-26 20:27] mpekalski commented on #283
With pip just install `keras_application` and `keras_preprocessing` that should fix the issue of building TF from source.

[2018-08-29 04:57] DilnozaBobokalonova1 commented on #283
Thank you @mpekalski , that fixed the issue!!

[2018-08-31 08:42] romanovzky commented on #291
Looking forward to the PR merge!

[2018-08-31 19:04] kiralpoon commented on #283
I encountered the same error from
'No module named 'keras_applications'
by using
[code]
it will installed the keras_application and keras_preprocessing, in case anyone cannot find the package name of keras_application.
Thanks @mpekalski for pointing it out.

[2018-09-01 13:31] #291 closed

[2018-09-04 06:28] lonelydancer commented on #125
@mary-octavia   same problem  with keras '2.2.2',tf '1.10.1';

[2018-09-04 08:28] maderafunk commented on #298
Will there be any new release anytime soon to make it compatible with the up-to-date keras version?

[2018-09-04 16:09] 2martens commented on #299
Maybe you should use keras_contrib?

[2018-09-04 18:45] MFreidank commented on #299
I believe you only need the dependency in the `dependency_links` list, you can drop the `install_requires` dependency and everything should work.

[2018-09-05 14:38] JohnGiorgi commented on #299
@MFreidank

I've tried all combinations of using `install_requires` and `dependency_links`. But just to be sure, I tried your suggestion. As far as I can tell, it doesn't work.

[code]

[2018-09-05 15:16] MFreidank commented on #299
A minor variation of your second line works for me:
`    setup(
        name=NAME,
        install_requires=["keras-contrib",],
        dependency_links=['git+https://github.com/keras-team/keras-contrib.git/@master#egg=keras-contrib']
    )
`

[2018-09-06 08:06] JuntingGuo commented on #253
I encountered this problem today and I realized that its because I used wrong config for CRF layer. My y_train is in one-hot form but I specified `sparse_target=True` in the CRF layer therefore the the layer chose the wrong loss function and gave negative loss. Hope it helps.

[2018-09-07 06:04] sakvaua opened #303 "Cannot save optimizer weights due to h5 error "object header message is too large""
When trying to save my model I get the runtime error below. There was a similar issue when model layers names were too long and it can be solved by giving layers shorter names. This time the error pops up when saving  optimizer weights. getattr(model.optimizer,'weights') shows

[code]
and if I convert it to numpy array its length is above the 64k limits which gives h5 runtime. I can save the model

[2018-09-07 08:49] sakvaua commented on #303
Thanks @bckenstler

I looked at save_all_weights and it seems that saving optimizer weights is done the same way as in pure keras. Saving optimizer weights fails at this point:

65  optimizer_weights_group.attrs['weight_names'] = weight_names

because weight_names is longer than 64k

[2018-09-10 02:33] spytensor commented on #244
Did you solve it?

[2018-09-11 05:11] #297 closed

[2018-09-12 00:58] oracle9i88 commented on #298
Will there be any new release anytime soon to make it compatible with the up-to-date keras version?

+1

[2018-09-12 01:49] csJd commented on #125
Following worked for me.

Save your model by using
[code]
or
[code]

And you can load it back by `model.load_weights(filename)` after specifying the model architecture

[2018-09-12 13:28] oracle9i88 commented on #298
keras 2.1.6

[2018-09-12 23:40] dorothee commented on #129
@kamei86i Thanks for the solution. However, when I am loading it using this, the weights are actually randomly initialized. The model evaluation gives random results, each time I load the same file. Can you post the full working solution?

[2018-09-12 23:42] dorothee commented on #125
@csJd really? Did that work for you using crf from keras_contrib.layers?

[2018-09-13 00:44] csJd commented on #125
yes, `keras.model.load(filename)` not work, but `model.load_weights(filename)` worked for me

[2018-09-13 04:29] apoorvadixit21 commented on #298
I am facing the same issue.Though i have keras 2.1.6 installed. Not able to use keras_contrib
![image](https://user-images.githubusercontent.com/30373496/45467027-26ff0200-b73b-11e8-96a6-c22fec0700ec.png)

[2018-09-13 04:37] apoorvadixit21 commented on #298
![image](https://user-images.githubusercontent.com/30373496/45467285-785bc100-b73c-11e8-829e-ec00736c9884.png)
if i import keras_contrib, this error comes in spyder and it tell me to  do this "from keras.backend.common import normalize_data_format".  But when i actually go for this facing the similar issue again.What to do

[2018-09-13 07:18] iliaschalkidis commented on #125
If you just care using them for predictions (production) and not retraining them, the default dump() and load() functionalities are both working just fine for models including CRF layers based on the latest updates in the code using Keras 2.2.0 with just a naive "hack".

Example:
[code]

[2018-09-13 20:04] haramoz opened #304 "cifar10_densenet.py issue"
Hello I am unable to run the example cifar10_densenet.py of the self. Can anyone help with this issue??

 File "cifar10_densenet.py", line 80, in <module>
    verbose=2)
  File "/home/arka/anaconda2/envs/hyperas/lib/python3.6/site-packages/keras/legacy/interfaces.py", line 91, in wrapper
    return func(*args, **kwargs)
  File "/home/arka/anaconda2/envs/hyperas/lib/python3.6/site-packages/keras/en

[2018-09-15 17:29] mongoose54 commented on #159
I had the same issue @git-ankur-shukla , @deepakanandece

`DSSIMObjective` is a class. You need to declare a new object: e.g. `sim_loss = DSSIMObjective()` and it should work

[2018-09-19 01:17] keisen commented on #291
Hi, @haramoz .
Currently, keras-contrib has compatibility with keras2.2.1+.
So you need to update keras to 2.2.1+ or to downgrade keras-contrib to several previous revisions.

[2018-09-19 06:57] haramoz commented on #291
ok thank you for your comment. to clarify further, I have keras 2.2.2 and tensorflow 1.10. Is trying to use keras_contrib Densenet.py with my own data. However it gives me std::bad_alloc error. Do you think this is a separate issue or somehow related to the correct versions of the keras/tf/keras_contrib ? THa

[2018-09-19 07:48] keisen commented on #291
I'm not sure. At least, I have not faced the error.

[2018-09-21 01:11] jcpeterson opened #305 "wide resnet get's ~30% accuracy"
@titu1994 I've confirmed it loaded your weights and used the default call: `model = WideResidualNetwork()` etc.

[2018-09-23 16:40] JohnGiorgi commented on #299
Very weird,

neither

[code]

nor

[code]

work for me.

The former runs without any error, but doesn't install `keras-contrib`. The latter fails with the following error:

[code]

[2018-09-27 00:02] hrdxwandg opened #307 "how can i install it with pipenv"
I want to install the package with pipenv, but I failed with following command

pipenv install git+https://www.github.com/keras-team/keras-contrib.git
pipenv install -e git+https://www.github.com/keras-team/keras-contrib.git

what is the correct command?
thanks ahead

[2018-09-27 00:08] hrdxwandg commented on #307
use the command:
pipenv install git+https://www.github.com/keras-team/keras-contrib.git#egg=keras_contrib

[2018-09-27 00:08] #307 closed

[2018-09-27 13:11] sovvo opened #308 "'GlobalAveragePooling2D' object has no attribute 'outbound_nodes' using DenseNetImageNet121"
Hi,

My setup is:
- **tensorflow-gpu 1.10.0**
- **keras 2.2.2**
- **keras contrib 2.0.8**

I am aiming to replicate
[AzureChestXRay-train](https://github.com/Azure/AzureChestXRay/blob/master/AzureChestXRay_AMLWB/Code/02_Model/010_train.ipynb)

However simply trying to add a Dense layer on top of DenseNetImageNet121 and running build_model() gives the following error.

[code]

Could this be due to

[2018-09-27 14:31] 2martens commented on #299
I write it again: What happens if you try keras_contrib whereever the package name is required? The underscore is there on purpose.

[2018-09-27 15:27] JohnGiorgi commented on #299
@2martens

I do not know what you mean?

Do you mean using `keras_contrib` instead of `keras-contrib`? Because that doesn't work:

`Could not find a version that satisfies the requirement keras_contrib`

[2018-09-28 03:33] sovvo commented on #308
Nevermind, looks like an additional flatten or GlobalAveragePooling2D is required on top of densenet.
https://github.com/keras-team/keras/issues/9041

[2018-09-28 03:33] #308 closed

[2018-09-28 08:00] 2martens commented on #299
I am using:
[code]
And the installation with ``pip install -e .`` works without a problem.

[2018-09-28 12:15] JohnGiorgi commented on #299
@2martens

Okay. I created a simple `setup.py` file that looks exactly like this:

[code]

Just like you say. Then, from the same directory I run `pip install -e .`. Still no luck, I get:

[code]

I don't have a clue why this would work for you but not me.

[2018-09-28 20:42] 2martens commented on #299
I am using Python 3.5. Are you using also Python 3. If yes than I have no idea.

[2018-10-02 01:44] JohnGiorgi commented on #299
Yup. Python 3.6

[2018-10-08 02:04] dvisztempacct commented on #283
@mpekalski

I think this should say `keras_applications` with an "s" at the end.

[2018-10-09 10:11] justshot opened #311 "Duplication of resnet50.py and resnet.py"
Hi,

Now you have 2 resnet implementation:
 keras-applications/keras_applications/resnet50.py
 keras-contrib/keras_contrib/applications/resnet.py

Will you consolidate them to be one?

[2018-10-16 13:44] hasibzunair commented on #102
@titu1994 were the resnext implementation on cifar 10 and 100 added in here?

[2018-10-16 15:13] titu1994 commented on #102
Sadly, they weren't. Keras, and Tensorflow do not support Grouped Convolutions yet, and my hacky workaround reduces performance far too much to be of any value.

[2018-10-16 19:10] tkorach commented on #179
Agreed - the description sounds contradictory to the argument name, and the documentation does not specify what the value True entails.

[2018-10-17 22:43] WheelerEarnest opened #316 "Complex layers"
Is there any interest in complex-valued implementations of layers? I've written the recurrent layers for a personal project and there isn't really an easy way for people to use them right now. If there is interest, I could start writing some tests though.

[2018-10-18 12:19] lewddev opened #317 "(Google Colab) ModuleNotFoundError: No module named 'keras_contrib'"
I got this error when I try to import 'keras_contrib' modules.

[code]

This is how i install keras_contrib in Google Colaboratory

first try...
[code]
another try...
`!pip install git+https://www.github.com/keras-team/keras-contrib.git`

I also using '!pip list' and found that 'keras-contrib 2.0.8' already exists in the list.
but somehow I can not use keras_contrib moudle please help me.

[2018-10-21 17:23] ghost opened #319 "How can I use trained Improved WGAN's discriminator model for prediction?"
I trained the Improved WGAN model available here:
[https://github.com/keras-team/keras-contrib/blob/master/examples/improved_wgan.py](url)

After training, I try to predict the label of the new test data using the following code:
`y_pred = discriminator_model.predict(X_test)`

But I receive the following error:
ValueError: Error when checking model input: the list of Numpy arrays that you are pass

[2018-10-22 03:30] johnc1231 commented on #271
I suspect this happens because you are not using the CRF's specific loss function. After constructing a CRF layer with identifier `crf`, specify loss function as `crf.loss_function`.

[2018-10-23 10:14] Lanme commented on #244
how to solve it?

[2018-10-24 03:46] SefaZeng opened #320 "Wrong transition in crf when doing a sequence labeling task"
I face a problem that when i am doing a sequence labeling task, about using the OBIE as the tag.There are some unexpected transition in the predict like E to I.
And it doesn't show up in the train data.Is there some trouble in the crf code?
Any help is appreciate thx!

[2018-10-24 06:52] buptcjj opened #321 "Why does my crf.accuracy increase so fast?"
I use BiLSTM+CRF to do a sequence tagging model for postagging. But I find my crf.accuracy increases so fast and reach 1.0 just in the first epoch

[code]

[2018-10-24 07:10] #321 closed

[2018-10-24 07:21] buptcjj commented on #254
@doggeral Have you solved this issue? I have the same problem now.

[2018-10-24 16:37] JohnGiorgi opened #322 "CRF doesn't play nicely with sample_weight"
I want to use the `sample_weight` argument to `fit()` in order to weight each time-step in my input data.

My input data is a 2D array, so I create a 2D array of identical size which contains the weight for each timestep in my data. I also set `sample_weight_mode="temporal"` in `compile()`, as per the [documentation](https://keras.io/models/model/). I then pass this array to `fit()` via the `sampl

[2018-10-27 18:12] AmirAlavi opened #323 "What are the reported losses for the improved WGAN?"
In the [improved wgan code](https://github.com/keras-team/keras-contrib/blob/master/examples/improved_wgan.py), there is no printing/plotting of the loss. I'm trying to do this, but I'm confused by the output of `train_on_batch` for the Critic.

When I do print `discriminator_model.metrics_names`, I see this:
[code]

What are each of these? These don't line up with the `model.compile` line:
[code]

[2018-10-30 14:40] sallamander commented on #107
@oarriaga do you plan on pushing this forward at all?

@the-moliver is this still a welcome contribution? Also, I noticed that the `CONTRIBUTING.md` guide doesn't explicitly state that code must work with the CNTK backend - is that true, or is that document out of date?

[2018-10-31 17:18] oasis789 commented on #244
This is because the crf layer expects the labels in a different shape. Normally your labels would be of shape `(num_samples, max_length)` but the crf layer expects them in the form `(num_samples, max_length, 1)` .

An easy fix is to reshape your labels as follows:
`labels = labels.reshape((labels.shape[0], labels.shape[1], 1))`

[2018-11-02 09:47] #241 closed

[2018-11-02 14:46] #289 closed

[2018-11-07 15:16] hgaiser commented on #102
I guess this situation has remained unchanged in the past 22 days? I find it odd that grouped convolutions is not added to tensorflow yet. Clearly it has a purpose, considering the state-of-the-art uses it and CUDA / cuDNN support it natively now.

I'd be curious to hear if you find a way to implement ResNeXt in an efficient manner, please let me know if you have any updates.

[2018-11-09 12:47] maderafunk commented on #298
Which is the last keras-contrib version that supports keras 2.2.0 and how can I install it? I don't find any relases in this repo. Current master seems to be 2.0.8. Thank you.

[2018-11-10 21:08] lhk opened #324 "importing keras_test decorator"
I have cloned your repository and am trying to run the testsuite.
(I followed CONTRIBUTING.md, keras is on 2.2.4, the test dependencies are installed).

But I don't understand how you can import `keras_test`. For example, you import it in your `layers/test_core.py`:
https://github.com/keras-team/keras-contrib/blob/46fcdb9384b3bc9399c651b2b43640aa54098e64/tests/keras_contrib/layers/test_core.py#L7

[2018-11-12 21:39] abheek95 commented on #89
Any update on this?

[2018-11-14 01:16] lanjinglingtamei commented on #215
I have solved the problem, update your keras-contrib to the latest version, my tensorflow == 1.11.0, keras == 2.2.4

[2018-11-14 16:07] world4jason commented on #298
same question here, how do i know which version of keras-contrib match keras 2.0.8?

[2018-11-15 05:34] keisen commented on #298
Hi, @maderafunk .
It might be 4d48c687433c53a3495357e99cb059ede74e7f02 .
If I made a mistake , sorry.

[2018-11-19 08:52] maderafunk commented on #298
Thank you, that works @keisen .
Maybe it would make sense to have release tags updated with the keras version, to ensure compatibility?

[2018-11-20 16:36] mycal-tucker commented on #271
Adding on to this (because I had a similar issue, even without RNNs)...

I found that creating a single model directly from the layers, as opposed to chaining models, resolved this problem for me as well.

I'm still not sure why this works in some cases and not in others, but at least we now have a way of getting things working.

[2018-12-05 14:04] sahatulika15 opened #326 "error in keras-contrib crf"
model = Sequential()
model.add(Embedding(input_dim=len(word_index)+1, output_dim=embedding_dim, weights=[embedding_matrix], input_length=(sequence_length)))
crf = CRF(len(lbl_dict), sparse_target=True)
model.add(crf)
model.compile('adam', loss=crf.loss_function, metrics=[crf.accuracy])
model.fit(X_train, y_train, epochs=10, callbacks=[checkpoint], batch_size=64, validation_data=(X_test, y_test))

[2018-12-12 21:38] paulhoule opened #328 "Will there ever be a release?"
Some of us write software for a living and we have a "definition of done" which won't be done if we are always running dependencies out of somebody's source code respository.

Will there be releases of keras-contrib?  Or can I just expect that I will always get the same thing when I check out of git because this project is abandoned?

[2018-12-13 07:19] mrgloom opened #329 "Questiona about jaccard loss"
Here is jaccard loss implementation:
https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/losses/jaccard.py

Why jaccard loss is prefered to dice loss?

Why we apply `K.abs`? as I understand `y_true`, `y_pred` should be already in [0,1] range.
https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/losses/jaccard.py#L31

Why default `smooth=100`? how `smooth` paramet

[2018-12-14 13:26] ketyi opened #330 "How to use the dead relu detector callback together with generator?"
In the constructor the x_train parameter must be given (https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/callbacks/dead_relu_detector.py#L20), but I don't see how to feed it if I'm using a generator function for feeding during the training.

[2018-12-15 23:43] gabrieldemarmiesse commented on #324
This was just fixed in a recent commit.

[2018-12-15 23:43] #324 closed

[2018-12-15 23:45] gabrieldemarmiesse commented on #268
Some tests are indeed out of date. PRs are welcome.

[2018-12-15 23:45] #268 closed

[2018-12-16 01:46] gabrieldemarmiesse commented on #328
I'm currently working on making this project come back to life. I am very confident that there will be releases in the future.

[2018-12-16 18:40] #220 closed

[2018-12-19 14:53] lzfelix commented on #125
PR #318 should have fixed this problem. Please refer to the CRF new docs and example in the test folder.

[2018-12-19 15:09] gabrieldemarmiesse commented on #125
Closing this issue as it seems resolved. Thanks @lzfelix .

[2018-12-19 15:09] #125 closed

[2018-12-20 08:32] cosmosZhou opened #343 "a negligence of the viterbi algorithm"
I write my own viterbi algorithm myself, using the same weights trained from the CRF model, I found that the final results from the model.predict and my own viterbi algorithm are sometimes different slightly. Below are my viterbi algorith.

import numpy as np
class CRF:
    def __init__(self, kernel, chain_kernel, bias, left_boundary, right_boundary):
        self.bias = bias
        self.chain_ke

[2018-12-20 15:21] chansart opened #345 "Use a CRF layer and predict probabilities"
Is there any way to use a CRF layer as a last layer, and then predict class probabilities ? Thank you !

[2018-12-27 12:57] PGryllos commented on #102
@titu1994 do you think there is interest for a backend implementation of grouped convolutions? for us resnext looks like it works very well, but training times are prohibitive :/

[2018-12-27 13:00] gabrieldemarmiesse commented on #102
New layers are welcome in keras contrib. You can also do pull requests for new backend operation.

[2018-12-27 16:57] titu1994 commented on #102
Grouped Convolutions are more efficient than the hacky solution I put together, since they are implemented at cudnn or Cuda level in PyTorch and original Torch Lua.

A Keras backend function still needs to utilize ops provided by the underlying engine, here - Tensorflow, Theano or CNTK, to perform an operation.

Since neither of the three backends support Grouped Convolutions directly, there isn't

[2018-12-27 18:03] PGryllos commented on #102
@titu1994 In this https://github.com/keras-team/keras-contrib/pull/111/commits/56d3295eaf7603285b3817f3836d5835895a14ef in the grouped convolutions I see you are applying the 1x1 without slicing the input volume but rather performing 32 independent 1x1 convs in the original input volume and. Am I understanding this correctly? Is this is expected to work?

[2018-12-27 22:20] DaniyarM opened #374 "Error in BatchRenormalization"
Get "TypeError: Using a `tf.Tensor` as a Python `bool` is not allowed. Use `if t is not None:` instead of `if t:` to test if a tensor is defined, and use TensorFlow ops such as tf.cond to execute subgraphs conditioned on the value of a tensor."

In 311 line of /layers/normalization.py: `r = K.stop_gradient(K.clip(r, 1 / self.r_max, self.r_max))`

[2018-12-29 16:19] ksachdeva opened #376 "Any plan to make the repo usable for tf.keras ?"
Hi,

Modules in keras-applications repo uses a strategy such that one has a choice to use either keras or tf.keras i.e. there are no imports of either of them (keras / tf.keras) in the code thereby not requiring an explicit dependency

Is there any plan to use the same strategy for this repository as well ?

Regards & thanks
Kapil

[2018-12-29 16:43] gabrieldemarmiesse commented on #376
There is the strategy of avoiding to use direct imports by passing the modules to the functions called. It's not super pretty. I believe that making a fork which has different imports would be much easier to maintain. We would just need to merge once in a while and to change the imports. Maybe also changing the travis file will be needed. In any case, this is fairly easy to do. If you are willing

[2018-12-29 17:37] ksachdeva commented on #376
Thanks @gabrieldemarmiesse for a quick response

I am not sure if I understood this part. If we use the same strategy of dynamic module import as in keras-applications and use some meta-programming techniques (factory to make classes etc since custom layers would need to inherit from Layer) there would be no need to maintain a fork etc.

Most likely am missing something here and hence trivializing

[2018-12-29 17:49] gabrieldemarmiesse commented on #376
The idea is that we have to choices, each with pros and cons:
1) The method used in keras_applications.
- Pros: One single codebase.
- Cons: Hacky. Error prone, not easy to add new features, imports needs to be done in the function/class, imports are not flexible.

2) Making a fork.
- Pros: Everything happens in the upstream repo and it's easy to add features (no hacky argument forwarding). Easy t

[2018-12-29 17:52] gabrieldemarmiesse commented on #376
Just to be clear: for me, maintaining a fork means "merging upstream once every two weeks and changing the imports if any were introduced recently". This means nearly zero work if no imports were changed since the last merge.

[2018-12-29 18:15] ksachdeva commented on #376
Thanks for clarifying.

I agree that debugging will be bit harder ... also if some one wants to contribute they would have the burden of going via the factory/meta-classes etc.

That said, if all of the hacky/meta stuff can be isolated in a way that the burden on new contributions is minimized (i.e. there are conventions in place) it may be okay after all. I am not an expert on python meta program

[2018-12-31 15:01] gabrieldemarmiesse commented on #376
While trying to implement it by just converting the imports with a script, I've hit a roadblock. There seems to be an issue with tensorflow itself having a keras API slightly different concerning the handling of the shapes. This API also seem to have a bug in it, in the function `add_weight`. Which makes custom layers with weights unusable. It seems tf.keras requires `TensorShapes`, but those are

[2019-01-03 21:22] sallamander commented on #107
Bump @oarriaga @the-moliver

[2019-01-07 21:14] stante commented on #374
The reason for your problem is probably that you are **not** using a Keras version which includes this patch https://github.com/keras-team/keras/commit/0a639230018d0c9e9f12476dc8b1c6e40c2dd0d0, that introduced tensor arguments to the `K.clip()` version in the backend. In keras_contrib a `K.clip()` version was defined which contained that functionality but was removed with https://github.com/keras-

[2019-01-07 21:20] DaniyarM commented on #374
Thanks for clarifying

[2019-01-07 21:20] #374 closed

[2019-01-09 14:08] chansart commented on #345
Hello @lzfelix, thank you for your answer. Yes, indeed, it is what I understood regarding the marginal mode. Though, I am trying to get the best sequences to apply the n-best sequence entropy measure and I am not sure using the marginal probabilities for this purpose is the best idea; by using marginal probabilities for this purpose, I would select the second most likely tag for each step but the

[2019-01-10 13:42] lzfelix commented on #345
As far as I can tell, the current implementation does not allow to get the `top-k` sequences. Actually, I think that this concept is a bit tricky, as CRF considers the probability of transitioning between labels for each timestep. To illustrate, suppose that the scores generated for each timestep in some sequence are:

| L \ T | T[0] | T[1] | T[2] |
|-----|------|-----|------|
| L[0]| 0.2    | 0.7

[2019-01-11 02:05] InsightDev opened #399 "LearningRateMultiplier with ModelCheckpoint raise TypeError"
I use LearningRateMultiplier, when I add ModelCheckpoint to keras fit's callbacks, it raise TypeError.

steps_per_epoch=5, epochs=500, callbacks=mCallbacks);
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/keras/engine/training.py", line 2177, in fit_generator
    initial_epoch=initial_epoch)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/keras/engine/training_ge

[2019-01-11 02:18] InsightDev commented on #399
EXAMPLE:

optimizer = Adam()
print optimizer.__class__.__name__;
config = optimizer.get_config();

optimizer = Adam;
print optimizer.__class__.__name__;
config = optimizer.get_config();

OUTPUT:
Adam
type
Traceback (most recent call last):
  File "......./type_error.py", line 12, in <module>
    config = optimizer.get_config();
TypeError: unbound method get_config() must be called with Adam instan

[2019-01-13 15:38] gabrieldemarmiesse commented on #399
lr_multiplier is not merged into master yet. Once it's merged into master, it will be properly tested and only then you should expect it to work.

[2019-01-13 15:38] #399 closed

[2019-01-13 21:07] torinaki commented on #374
@stante I have installed both master versions and seems to get the same error

[2019-01-18 13:53] gabrieldemarmiesse commented on #376
I worked more on it, see #387, it is actually possible to support keras and tf.keras right now. I'll merge this PR this week end and add some instruction on how to install the tf.keras version of keras_contrib.

[2019-01-22 00:39] ksun91 opened #405 "ImportError: cannot import name 'shuffle'"
I am using a MacOS High Sierra Version 10.13.6.

In my jupyter notebook, I am using python 3.6. I am trying to execute:
`from keras.utils import shuffle`

but I get the following error:
`ImportError: cannot import name 'shuffle'`

I went into Users/username/anaconda3/lib/python3.6/site-packages and I tried to find if there was any shuffle.py file, but there wasn't. I am not even sure if deleting a

[2019-01-22 00:43] #405 closed

[2019-01-22 00:44] ksun91 commented on #405
Noticed I was using the wrong package. Shuffle is from sklearn.utils.

[2019-01-22 19:34] JohnGiorgi commented on #328
Is there plans to upload `keras-contrib` to PyPI so that it can be installed with `pip install keras-contrib`?

I have uploaded [my own project](https://github.com/BaderLab/saber) to PyPI, but because it depends on `keras-contrib`, trying to install it with `pip install saber` throws the following error:

[code]

[2019-01-23 12:23] qubo opened #407 "tag weight for keras crf"
i trained a bilstm crf model in keras with following shape:
x_train.shape: (909, 1000),
y_train.shape: (909, 1000, 19)

the model got 80% or so precision and recall as well as f1. now i need adjust weight on some tag which i think is more important.
the best way i think is to add a weight list into crf_nll in crf_loss.py, but i don't know how to modify the following code:
    nloglik = crf.get_neg

[2019-01-28 12:17] eyalzk opened #410 "Callback for monitoring & controlling a training process using a Telegram bot"
Hi!
I have developed a nice feature that I use with Keras and thought it could be a useful addition to the contrib API.
It allows getting automatic loss & metrics updates to the Telegram app using a dedicated callback.

**Please let me know if this is a good fit for keras-contrib and I will start working on a PR**

Features include:

  - Get per epoch updates on the loss, accuracy etc.
  - Change

[2019-01-28 13:08] gabrieldemarmiesse commented on #410
I think it's a cool tool. If you are willing to code it and maintain it, it will be merged into keras-contrib without any problem. :)

[2019-01-30 03:08] sheydinger opened #411 "Need to convert type of block as str(block) in keras-contrib/applications/resnet.py?"
In the file keras-contrib/keras_contrib/applications/resnet.py in the function _block_name_base(stage, block) I received an error in forming conv_name_base and bn_name_base:

    conv_name_base = 'res' + str(stage) + block + '_branch'
    bn_name_base = 'bn' + str(stage) + block + '_branch'

"TypeError: must be str, not int"

When I wrapped block as str(block) the issue went away:

    conv_name_b

[2019-02-02 00:20] SanderGielisse commented on #323
First is the sum of the next three losses, where the next three are in the order as defined, wasserstein_loss, wasserstein_loss, partial_gp_loss.

For example, I get returned -5.6893063,-109.37327,102.22689,1.4570715, then
-109.37327 + (wasserstein)
102.22689 + (wasserstein)
1.4570715 (gradient penalty)
=-5,6893 (total loss) which is indeed what we expect from the first parameter = -5.6893063

[2019-02-03 12:32] gabrieldemarmiesse commented on #411
The main problem here is that we don't have tests for the models. So it's actually impossible to catch bugs early. We'll add tests in the future. Let me open an issue for that.

[2019-02-03 12:41] gabrieldemarmiesse opened #412 "Same codebase for docs generation in keras and keras-contrib."
Currently, the code to generate the docs is in keras-contrib/contrib-docs. This is a copy of the directory in keras/docs/ . This is an issue because when people change the code in keras/docs, we have to port the change in keras-contrib/contrib-docs. We should always use the same code to generate the docs. I see two possible paths:

* We make the code in keras/docs as generic as possible, then we i

[2019-02-03 12:50] gabrieldemarmiesse opened #413 "Path to keras-contrib v1.0"
I would be in favor of aiming to make a v1.0 release at some point in the future. v1.0 would mean to have this package on PyPI and to have an online documentation.

To be able to do a v1.0, we do not need more features, we need a high quality repo and code, with standards close to the ones of keras.

I'll make a milestone for v1.0 and open issues which I think are related to that.

[2019-02-03 12:58] gabrieldemarmiesse opened #414 "Have a maximum line length of 88 chars in the repo."
We should limit the size of the lines in the repo for better code readability, as keras does. I handled most of the files in the repo, but some files were not done yet.

You can see the remaining files as exceptions in pytest there: https://github.com/keras-team/keras-contrib/blob/f0d4fda6b4a816295d1f498cf60b3bddbe90bbb2/pytest.ini#L19

Since some files are going to be removed, let's take care of

[2019-02-03 13:18] gabrieldemarmiesse opened #415 "Selection of features staying in v1.0, please comment if you like a feature already in keras-contrib!"
Given our manpower (spoiler alert, it's not much), we need to choose carefully how we select features which will stay in the repo.

Given that this repo will host a lot of features (hopefully more than in keras!) the maintainers cannot do everything. Which is why each layer/optimizer/callback/...etc should be assigned to a contributor or a maintainer who will commit to answer issues and review pul

[2019-02-03 13:39] gabrieldemarmiesse opened #416 "Make a github bot to notify codeowners for pull requests and maybe issues."
This is related to #415 .

We'll have a `CODEOWNERS` file to handle the mapping of people to code. https://help.github.com/articles/about-code-owners/

Problem is, we can't do that with the normal github behavior because:

If normal contributors can be codeowners, we don't want them to have write access directly. This can be easily fixed by having a github bot. Making one is really easy with https

[2019-02-03 13:45] gabrieldemarmiesse opened #417 "Have one file per feature"
By feature, I mean layer/optimizer/callback/example/model/... etc.

This is necessary to achieve #416 . So we have to change the structure of the repo and move code to do that.

Note that there should be a 1:1 mapping between the structure of the the `keras-contrib/keras_contrib` directory and the `keras-contrib/tests/keras_contrib` directory. So we need to move the tests accordingly.

[2019-02-03 14:00] gabrieldemarmiesse opened #418 "Requirements for a feature staying in the repo"
This is to track the work necessary to do on features already there.

A feature should:
* Have a proper docstring
* Have a link to the paper it comes from in the docstring.
* Be displayed in the documentation
* Have an API which correspond to the one used in keras (eg. use `lr` for the learning rate in optimizers)
* Be in a single file
* Have unit tests
* Those unit tests should be in a single fil

[2019-02-03 14:42] gabrieldemarmiesse commented on #416
I'll handle this.

[2019-02-03 14:51] gabrieldemarmiesse commented on #415
The Yogi optimizer will be owned by @MarcoAndreaBuchmann if you're still ok with it.
@MFreidank do you accept to be the owner of the Padam code?
@lzfelix do you accept to be the owner of the CRF code?

[2019-02-03 15:15] MarcoAndreaBuchmann commented on #415
@gabrieldemarmiesse : Yes that's fine with me.

[2019-02-03 15:18] gabrieldemarmiesse commented on #415
Thanks @MarcoAndreaBuchmann !

[2019-02-03 15:42] gabrieldemarmiesse commented on #415
@titu1994 , could you make PRs to remove what you think is not needed anymore? In each PR description, you can put why we'll remove it and if there is a workaround, which it is.

Thanks a lot for the help!

[2019-02-03 15:49] titu1994 commented on #418
Ok that makes sense.

[2019-02-03 15:53] gabrieldemarmiesse commented on #418
I hope we can make a cool v1.0 :)

[2019-02-03 16:02] titu1994 commented on #415
@gabrieldemarmiesse Sure, but the only one I recommend removing is the broken BatchRenormalization.

It was an issue at the time of implementation, and it stands to this date. BatchRenormalization's internal counter is updated per batch, but the original paper states that its internal counter needs to be updated per epoch. There was no reasonable hook to obtain epoch index inside a Layer, and many

[2019-02-03 16:08] titu1994 commented on #418
Yes, its been a long time coming for this contrib repo. :D

[2019-02-03 16:09] gabrieldemarmiesse commented on #415
@titu1994 do you think we should remove some models too? It seems several of them are already in keras.applications.

[2019-02-03 16:37] gabrieldemarmiesse commented on #415
I see. So none of them come with pre-trained weigths?

[2019-02-03 16:45] titu1994 commented on #415
Certain Contrib Application models do come with pre-trained weights.

- DenseNet 121, 161, 169 weights were ported for ImageNet
- NASNet Large and NASNet Mobile weights were ported for ImageNet
- ROR (which is being removed) has CIFAR 10 weights trained by me
- WideResNet 28-8 has weights trained on CIFAR 10 (trained by me).

- ResNets: I don't recall if weights are available off hand.

As to test

[2019-02-03 16:48] MFreidank commented on #415
@gabrieldemarmiesse Yes, sure, I am fine with being the owner of Padam.

[2019-02-03 16:50] gabrieldemarmiesse commented on #415
Thanks @MFreidank !

[2019-02-03 16:50] gabrieldemarmiesse commented on #415
@titu1994 Thanks a lot for that!

[2019-02-03 17:01] lzfelix commented on #415
@gabrieldemarmiesse, as we talked previously, I did not write the code for the CRF layer, just a few changes to persist and restore models using it. IMHO the code is very convoluted and hard to read. What I can do is try to help people who want to use this layer and add/update some docstrings if necessary.

[2019-02-03 17:08] gabrieldemarmiesse commented on #415
@lzfelix sure, thanks for the help. We'll just have to find a solution for CRF, because it seems that it's popular, but we don't have anyone to maintain it.

[2019-02-03 17:16] Zen3515 opened #422 "recent commit to master branch breaks CRF layer"
This code can be run with keras-contrib 2 hrs ago, but recently, with the new commit this code no longer work.
Here, take a look.

**Please note that I use tensorflow backend**

`model = Sequential()
model.add(Embedding(len(word_to_idx),32,input_length=102,mask_zero=True, trainable=True))
model.add(Bidirectional(GRU(32, return_sequences=True)))
model.add(Dropout(0.2))
model.add(TimeDistributed(Den

[2019-02-03 17:18] gabrieldemarmiesse commented on #422
Thanks for this *insanely fast* report. Let me fix it right now.

[2019-02-03 17:22] titu1994 commented on #415
@gabrieldemarmiesse Speaking of tests for applications, the `keras_applications` codebase tests are quite extensive and dependent on the interaction between keras and keras_application. I do not believe that this should be replicated in contrib.

A scenario can occur that a user imports keras and keras contrib (which is what we want), and both keras and keras_contrib try to inject keras_applicatio

[2019-02-03 17:31] Zen3515 commented on #422
Oh, sorry, I was using **Keras 2.1.6**.
I was a little panic, anyways, thank you.

[2019-02-03 17:33] gabrieldemarmiesse commented on #422
no problem! I glad it's solved.

[2019-02-03 17:33] #422 closed

[2019-02-03 17:37] titu1994 commented on #415
@gabrieldemarmiesse Hmm if shape tests are all we need, then no need to train on any data at all. Back prop doubles the amount of memory needed, and for enormous models like NASNet and DenseNet, it isnt feasible to train a model on Travis on CPU.

[2019-02-03 17:44] gabrieldemarmiesse commented on #415
True. Let's just run a single prediction on random pixels.

[2019-02-03 17:49] titu1994 commented on #415
Yes that should be fast enough (hopefully)

[2019-02-03 18:11] lzfelix commented on #415
This latter solution seems fine.
@gabrieldemarmiesse, regarding the CRF layer, hopefully we can invite onboard some future contributor that makes a reasonable PR to this layer.

[2019-02-08 10:09] wilderrodrigues commented on #413
Hi @gabrieldemarmiesse ,

Please, let me know how I can be of assistance.

Cheers,
Wilder

[2019-02-08 10:11] wilderrodrigues commented on #415
Hi,

I commit to maintain and answer questions regarding the SineReLu activation function.

Cheers,
Wilder

[2019-02-08 10:22] gabrieldemarmiesse commented on #415
Thanks @wilderrodrigues !

[2019-02-08 10:49] gabrieldemarmiesse commented on #413
Hi @wilderrodrigues ,

You can try to do #417 if you have the time to.

[2019-02-08 10:50] gabrieldemarmiesse commented on #412
I'll take care of it.

[2019-02-09 15:30] gabrieldemarmiesse opened #440 "Make the CI based on Docker."
Currently, all the instructions to run the tests are on a file called .travis.yml.

It's not very practical. We should offload as many instructions as possible to shell scripts and dockerfiles, to make the CI build easily reproducible locally.

 I would also allow us to switch our CI system easily if we want to or even take avantage of the docker cache to speed up our build.

It would make it much

[2019-02-09 15:37] gabrieldemarmiesse commented on #440
https://docs.travis-ci.com/user/docker/ this will come in handy.

[2019-02-10 09:54] RaphaelMeudec commented on #440
Will take care of this

[2019-02-10 10:01] gabrieldemarmiesse commented on #440
Thanks a lot @RaphaelMeudec I started doing it for keras-team keras if that can come in handy. You can take a look at https://github.com/gabrieldemarmiesse/keras/tree/docker_testing In the directory .travis you can find a dockerfile.

[2019-02-10 11:06] gabrieldemarmiesse commented on #414
Closed by @RaphaelMeudec in #443

[2019-02-10 11:06] #414 closed

[2019-02-10 13:38] gabrieldemarmiesse commented on #416
See https://github.com/gabrieldemarmiesse/keras-bot

[2019-02-10 15:24] gabrieldemarmiesse commented on #415
@titu1994 Could you add yourself to the codeowners when you have the time? Thanks!

[2019-02-10 16:23] gabrieldemarmiesse commented on #157
The build is fixed.

[2019-02-10 16:23] #157 closed

[2019-02-10 16:24] gabrieldemarmiesse commented on #166
This seems to have been fixed since all the tests are passing.

[2019-02-10 16:24] #166 closed

[2019-02-10 16:26] gabrieldemarmiesse commented on #17
Closing as outdated, feel free to open another issue with another call for contributions if you want.

[2019-02-10 16:26] #17 closed

[2019-02-10 20:36] gabrieldemarmiesse commented on #299
Closing now, for the V1.0 of keras contrib, we'll upload it to pypi. It should be much easier to declare as a dependancy.

[2019-02-10 20:36] #299 closed

[2019-02-10 20:42] gabrieldemarmiesse commented on #328
We'll upload to pypi and have a online documentation when we release the v1.0. You can track the progression with the milestone 1.0. I'll be closing this issue in the favor of the milestone. https://github.com/keras-team/keras-contrib/milestone/1

btw, help is welcome :)

[2019-02-10 20:42] #328 closed

[2019-02-10 20:43] gabrieldemarmiesse commented on #413
People can see the progression there: https://github.com/keras-team/keras-contrib/milestone/1

[2019-02-11 06:12] louis925 opened #453 "CRF layer loss with multi_gpu_model"
I am trying to use CRF layer with multiple GPU training via

    from keras.utils import multi_gpu_model
    from keras_contrib.losses import  crf_loss
    from keras_contrib.metrics import crf_viterbi_accuracy

    # The last layer of model is CRF
    parallel_model = multi_gpu_model(model, gpus=2)
    parallel_model.compile(loss=crf_loss, optimizer='adam', metrics=[crf_viterbi_accuracy])

but I

[2019-02-11 10:10] DomHudson commented on #275
Agreed; any chance of tagging the current position as something?

[2019-02-11 15:59] SriRangaTarun commented on #415
@gabrieldemarmiesse Just to confirm, I'll be in charge of the Capsule layer and squash activation.

[2019-02-11 18:36] gabrieldemarmiesse commented on #415
@SriRangaTarun you're already in the `CODEOWNERS` so no problem here.

[2019-02-11 18:40] gabrieldemarmiesse commented on #453
Using the private variable `_keras_history` is a ugly hack and it's not suprising that it doesn't work here. We need to find a solution for crf because we can't keep this layer/loss here in the long run in this current form.

[2019-02-14 01:41] AmirAlavi commented on #323
Thanks! Make sense. The first one being the sum of all losses was the key piece I was missing.

[2019-02-14 01:41] #323 closed

[2019-02-14 10:34] SriRangaTarun opened #457 "hvhb"
iuughu

[2019-02-14 10:34] SriRangaTarun commented on #457
@SriRangaTarun

[2019-02-14 10:35] #457 closed

[2019-02-15 03:06] feitiandemiaomi opened #458 "ImportError: cannot import name 'PELU'"
When I type "from keras_contrib.layers.advanced_activations import PELU
" in py36 , it shows ImportError: cannot import name 'PELU' ,  but I find the pelu.py indeed in there , I dont know why it happened,  Is my version wrong?

![default](https://user-images.githubusercontent.com/18325462/52832001-b442ea00-3111-11e9-8905-07588d284164.png)

Setting: Ubuntu16.04  ,py36, keras 2.2.2

[2019-02-15 05:43] #458 closed

[2019-02-15 19:14] #376 closed

[2019-02-16 02:22] hmeine commented on #329
I wonder if there are two problems with that definition:
* Does it work with one-hot-encoded data?
* Shouldn't it skip the background label? (At least optionally)
* I also wondered about the multiplication at the end.

[2019-02-16 12:54] RaphaelMeudec commented on #440
@gabrieldemarmiesse It seems there are some options to save the docker layers instead of pushing the image to a specific docker account : https://stackoverflow.com/questions/35305492/cache-docker-images-on-travis-ci

Also, from the same SO thread, it seems that Circleci automatically cache the docker layers. Is there a specific reason for using Travis ? I've seen a .circleci folder on your fork

[2019-02-16 14:14] gabrieldemarmiesse commented on #440
One of the points of using docker for testing is also being able to easily switch CI providers (maybe using multiple ones at then same time for more cores???). Circle ci does not automatically cache docker layers, it's a paid option. Because I would prefer incremental modifications and small PRs, let's make the pull requests in this order:
1) Use docker on travis without any layer caching.
2) Impl

[2019-02-17 02:08] helpmefindaname commented on #453
I recreated the loss function for joined mode:

[code]

You can use it like this:
[code]

[2019-02-17 12:40] helpmefindaname opened #460 "CRF formula wrong?"
Looking at https://github.com/keras-team/keras-contrib/blob/fff264273d5347613574ff533c598f55f15d4763/keras_contrib/layers/crf.py#L470 and https://github.com/keras-team/keras-contrib/blob/fff264273d5347613574ff533c598f55f15d4763/keras_contrib/layers/crf.py#L474
we see two almost identical lines, calculating the energy. However one add's `prev_target_val` while the other substracts `prev_target_val`

[2019-02-17 12:45] saif93 opened #461 "Issue with application to Segmentation problem"
I am trying to use this with an image segmentation problem where we have 99x99 pixel of images and their corresponding masks. I have modified it be used for segmentation by replacing softmax with sigmoid activation and number of classes to 1 but I am getting following error on compilation a resne50.

-> r = ResNet50((101,101,1), 1)

**'ValueError: total size of new array must be unchanged'**

log:

[2019-02-17 20:19] gabrieldemarmiesse commented on #460
@lzfelix would you happen to know something about that?

[2019-02-17 21:17] wilderrodrigues commented on #413
Hi @gabrieldemarmiesse ,

Sorry for the delay, been full of work lately. I will have a look at the issue and try to help.

Cheers,
Wilder

[2019-02-17 21:19] wilderrodrigues commented on #413
Okay, looking at the milestone is better. :)

[2019-02-18 16:55] ashim95 commented on #136
@linxihui But there is mathematical formulation in a linear chain CRF to find the marginal probabilities at each time step. Please refer to [this](http://info.usherbrooke.ca/hlarochelle/ift725/3_05_computing_marginals.pdf). What we need to calculate this are the forward path scores and the backward path scores (alpha and beta respectively).
Say, we want to find the marginal distribution at time `s

[2019-02-18 16:56] ashim95 opened #462 "Label probabilities for the CRF layer in join mode"
I know it is possible to get the label probabilities using forward backward algorithm in CRFs. [Link here](http://info.usherbrooke.ca/hlarochelle/ift725/3_05_computing_marginals.pdf). What we need to calculate this are the forward path scores and the backward path scores (alpha and beta respectively).
Say, we want to find the marginal distribution at time `step i`, then we need `alpha i-1` and `be

[2019-02-18 21:53] lzfelix commented on #460
I am a bit sick these days, but I'll take a look as soon as I can.

[2019-02-18 22:25] lzfelix commented on #136
To the best of my knowledge, if you want the probability distribution of observing each of the `C` possible labels at the `i`-th timestep, then you are going to need to compute the forward pass, ie. `alpha`, until timestep `i`, you don't need `beta` at all. Just remember that `alpha` computes the probability of arriving at some label at the `i`-th timestep from the beginning of the sequence, while

[2019-02-18 22:27] lzfelix commented on #462
@ashim95 you are asking the same question that you have posted in #136. Either close this issue, or let us discuss this problem here, instead of jumping between threads. This will also help others  in the future looking for references.

Thank you,
Luiz Felix

[2019-02-19 00:24] gabrieldemarmiesse commented on #460
@lzfelix no worries, I wish you a quick recorevery. Thanks for all the help.

[2019-02-19 14:52] iperov opened #464 "port of tf.image.ssim as DSSIM to pure keras"
I made this port for my own project in order to work on plaidML keras backend.

Tensorflow's ssim is better than current keras-contrib's DSSIMObjective.

feel free to adapt it to keras-contrib project

(updated)

[code]

[2019-02-19 15:24] gabrieldemarmiesse commented on #464
Thanks! A pull request is welcome if you think you can add the documentation and the tests.

[2019-02-19 16:54] iperov commented on #464
I thought someone will adapt it ...
it has no channels check on compile time, and it does not work with variable channel dims ...

variable dims requires kernel
`g = np.tile (g, (1,1,ch,1))` also be variable

[2019-02-20 14:23] iperov commented on #464
updated main post

[2019-02-20 14:50] gabrieldemarmiesse commented on #464
Maybe you can use `K.softmax` to simplify your code even further? What do you think?

[2019-02-20 14:56] iperov commented on #464
done

[2019-02-20 15:01] iperov commented on #464
upd, anyway it should be tested by ppl :)

[2019-02-20 15:02] iperov commented on #464
but it works fine on tensorflow and plaidml,
using it in my DeepFaceLab

[2019-02-22 02:57] c0derm4n opened #465 "ImportError: cannot import name 'Model'"
when coding "import keras_contrib",
then appears ImportError: cannot import name 'Model'

[2019-02-22 02:59] c0derm4n commented on #465
import

[2019-02-22 07:12] nobodykid opened #466 "ImportError : cannot import name "InstanceNormalization""
Hello, it seems that I have problem in importing one of the module. Currently I'm using keras_contrib `0.0.2` and keras `2.2.2`.

When I tried importing `InstanceNormalization`, I got this error
[code]
I tried running a Jupyter notebook to see if the code completion can catch it after I imported `keras_contrib`. And this code is what I got
[code]
But I'm unable to call the method in my code (when

[2019-02-22 15:31] e-yi commented on #466
In case someone needs a quick fix
currently I (1) removed ```from .normalization import InstanceNormalization
from .normalization import GroupNormalization``` from keras_contrib\layers\__init__.py, (2) redo `python setup.py install` and (3) copy the normalizaiton files directly into project folder and import the files later to fix this problem temporarily.
It works for me.

[2019-02-24 09:36] b-z commented on #466
+1

[2019-02-24 16:09] nobodykid commented on #466
I fixed the problem

It seems that I have to add `instancenormalization`, resulting the import code into
[code]
`normalization` still contains several scripts, like `instancenormalization` and `groupnormalization`. So you have to specify it until you get the `instancenormalization.py` in your import

[2019-02-25 02:48] b-z commented on #466
Works for me. Thanks.

[2019-02-25 02:49] nobodykid commented on #466
No problem @b-z, I'm closing this issue now

[2019-02-25 02:49] #466 closed

[2019-02-25 17:32] McKracken commented on #233
Digging around, I actually found this three papers which are about Conditional Neural Fields/Neural Sequence Labeling with CRF

- **Conditional Neural Fields** - [https://research.cs.washington.edu/istc/lfb/paper/nips09b.pdf](https://research.cs.washington.edu/istc/lfb/paper/nips09b.pdf)
- **Sequential Labeling Using Deep-Structured Conditional Random Fields** - [https://ieeexplore.ieee.org/stamp/

[2019-02-25 19:47] Athaagra opened #467 "Bilstm + CRF on top"
I am facing an error when i user crf out it gives me an attribute error:
AttributeError: module ‘keras.backend’ has no attribute ‘slice’
Keras version:2.1.2
Kera contrib:2.0.8
Tf version:1.8.0

[2019-02-26 14:11] JARIS101 commented on #465
I think you mean `keras_contrib.layers` ?

[2019-02-26 18:03] RaphaelMeudec commented on #465
@c0derm4n Could you provide the full stacktrace ?

[2019-02-26 18:03] RaphaelMeudec commented on #467
@Athaagra Could you provide a sample script to reproduce the error and the full stacktrace? Thanks

[2019-02-27 09:10] Thrianadh opened #468 "Getting error No module named 'keras_contrib"
Installed keras_contrib when importing keras_contrib package its showing the below error
   "**No module named 'keras_contrib'**"

[2019-02-28 02:28] ali-ehsan opened #469 "WGAN-GP produces black images"
It seems like just running the WGAN-GP on MNIST dataset (without changing anything in the code) results in black samples produced by the generator after 9 epochs and the samples remain black in the upcoming epochs.

How can this problem be fixed?

Thanks

[2019-02-28 07:49] ali-ehsan commented on #323
@AmirAlavi What kind of results did you get on MNIST dataset. For me it shows black images after 9th epoch and never recovers. Please note I have not changed anything in the source code.

[2019-02-28 13:48] RaphaelMeudec commented on #468
@Thrianadh Can you provide more details on how you installed it ? Can you show the output of a `pip freeze` ? Thanks

[2019-03-01 20:32] gabrieldemarmiesse commented on #440
@RaphaelMeudec would you need any help with this?

[2019-03-02 21:31] #412 closed

[2019-03-02 21:38] gabrieldemarmiesse opened #471 "Finish the documentation"
This issue is related to #412 and #470 . Now that we have a proper and easy way to build the documentation, all classes/functions should go in there. There is also quite some work needed because some docstrings are not formatted correctly (mostly newlines and indentation issues). I made the skeleton of the docs, what's left is making it big and pretty.

To start, see those files:
* https://github.

[2019-03-02 21:57] gabrieldemarmiesse opened #472 "Making a bot which posts the documentation page in htlm if a pull request changed it."
If someone makes a PR which changes the documentation, a bot should build the documentation and comment on the pull request with the html page rendered as pdf. This should allow PR reviewers to see very quickly if there is a problem of formatting, and it would be easy to fix it early. That would make huge time savings in the long run.

Nearly all CI projects authorize using docker and https://gith

[2019-03-03 13:04] RaphaelMeudec commented on #440
@gabrieldemarmiesse I saw that the Dockerfile has been merged on Keras, just didn't have time to tackle this yet. Should be able to look into this week

[2019-03-03 15:42] gabrieldemarmiesse commented on #440
It's not necessary for the 1.0. so it can be postponed if you want. Btw the dockerfile in the keras master branch isn't the one used for testing, it's just a way to have a quick gpu environment with keras installed.

[2019-03-03 16:58] RaphaelMeudec commented on #416
@gabrieldemarmiesse What are the remaining steps to make this bot functional? Do you need any help on this?

[2019-03-03 17:26] RaphaelMeudec commented on #417
Here is the list of elements that should be tackled in this issue (might have missed some elements):

- CosineDense layer in `core.py` should be renamed to `cosine_dense.py`
- CosineConvolution2D is also exported as CosineConv2D. I'm not convinced about the benefits of doing that
- keras_contrib.tests should be moved to `test/keras_contrib`
- keras_contrib.utils.tests should be moved to `test/kera

[2019-03-03 18:47] gabrieldemarmiesse commented on #416
I don't need help on this, i'm nearly done. See my repo keras-bot.

[2019-03-03 18:52] gabrieldemarmiesse commented on #417
We still need CosineConv2D, it's to be consistent with the keras naming
conventions, otherwise all other changes seems good. Better to split them
into multiple PRs if possible.

On Sun, 3 Mar 2019, 18:26 Raphael Meudec, <notifications@github.com> wrote:

[2019-03-04 14:58] ThomasHagebols commented on #218
Are you still having this issue? I wrote a patch for it some time ago, but that was written specifically for ```tensorflow.keras```

I tested it on tensorflow 1.11 and 1.12. Just download the code from
https://github.com/ThomasHagebols/sReLU and use the following code

[code]

[2019-03-05 09:26] dell5437 opened #475 "AttributeError: 'Tensor' object has no attribute 'assign'"

[2019-03-05 20:41] gabrieldemarmiesse commented on #416
This is done. For info, the bot is @bot-of-gabrieldemarmiesse and the repo for the code of the bot is here: https://github.com/gabrieldemarmiesse/keras-bot

[2019-03-05 20:41] #416 closed

[2019-03-05 20:50] RaphaelMeudec commented on #416
Nice !

[2019-03-05 20:59] gabrieldemarmiesse commented on #416
The bot runs every hour. So there might be a delay between when the PR is made and when the bot is posting a message.

[2019-03-07 21:56] isaacgerg opened #477 "DSSIM documentation"
What is the input domain of the data for this loss?  [0,1], [-1,1], [0, 255]?

[2019-03-10 18:52] Athaagra commented on #467
@RaphaelMeudec  i manage to make it work using the
Keras version: 2.2.2

[2019-03-11 09:24] xqtbox commented on #467
I upgrade keras version to 2.2.4 can solve this problem

[2019-03-11 09:27] RaphaelMeudec commented on #467
@Athaagra Cool! Can you close the issue?

[2019-03-12 15:51] csgerf commented on #468
I had a similar issue trying to install keras_contrib in to a conda environment. It seemed to build fine, but I still got that error. I ran pip install with the version number and it seemed to resolve itself. Not sure why still new to this.

pip install git+https://www.github.com/keras-team/keras-contrib.git keras-contrib==2.0.8

[2019-03-12 17:24] iperov commented on #477
it has wrong implementation

try my port of tensorflow https://github.com/keras-team/keras-contrib/issues/464

[2019-03-12 20:12] isaacgerg commented on #477
@iperov Thank you.  My question remains the same for your implementation though.  Can you comment?

[2019-03-12 20:16] iperov commented on #477
input [0, max_value]

[2019-03-12 20:37] isaacgerg commented on #477
@iperov  Thank you.

[2019-03-12 20:57] isaacgerg commented on #477
@iperov Just be absolutely clear, your function can take in single channel inputs correct? (luminance only?)  It appears to from going through it.  However, I cannot get keras to resolve the shapes after the reducer step.

[2019-03-12 21:03] isaacgerg commented on #477
I am going to reopen this.  @iperov what is wrong with the code in keras_contrib?

[2019-03-13 02:54] iperov commented on #477
keras_contrib not implements paper  `Wang, Z., Bovik, A. C., Sheikh, H. R., & Simoncelli, E. P. (2004). Image
  quality assessment: from error visibility to structural similarity. IEEE
  transactions on image processing.`

tensorflow implementation:
https://github.com/tensorflow/tensorflow/blob/f3954bf90088f0a464825307a32b23a84e15dfff/tensorflow/python/ops/image_ops_impl.py#L2940

[2019-03-13 02:57] iperov commented on #477
brofl

[2019-03-13 02:58] iperov commented on #477
good luck then
unsubscribing this shit

[2019-03-13 03:54] isaacgerg commented on #477
@iperov  I don't get it.

[2019-03-13 03:57] isaacgerg commented on #477
I solve the issue by using tensorflows implementation of multi-scale ssim.  I checked it against the original reference and it appears to be correct.

[2019-03-13 03:57] #477 closed

[2019-03-14 03:50] vForce825 commented on #453
It seems the loss function has two return lines and the usage example doesn't contain this function. Is it a mistake?

[2019-03-14 09:53] helpmefindaname commented on #453
@vForce825 for some reason the first line was disguised, I hope it makes more sense now

[2019-03-16 04:11] iperov opened #479 "ConvolutionAware error"
I try to use it in Conv2D
`Conv2D(dim, kernel_size=5, strides=2, padding='same', kernel_initializer=CIAInitializer())`

but got this error
[code]

[2019-03-16 04:19] iperov commented on #479
fix:
[code]

[2019-03-18 06:24] DarkSideForMyself commented on #244
Hi, I'm little confused about your answer, I have the same problem just like his, I want to try your method, only don't know where to change. Can you be more specific on that issue? Thants a lot

[2019-03-18 06:25] DarkSideForMyself commented on #244
Did you solve it? I have the very same problem, If you solve it, plz help me.

[2019-03-19 07:19] aaryapatel007 opened #480 "dead relu detector for fit_generator"
How to use dead_relu_detector for fit_generator in keras?

[2019-03-20 03:23] jinkaima commented on #244
I have the same problem.
And solve it by  `y_train = np.expand_dims(y_train,2)`

[2019-03-20 15:06] #465 closed

[2019-03-21 16:52] aghoshpub opened #482 "Swish activation doesn't save the weight if beta is not trainable"
It is very useful to always save the beta value in the weights file even if beta is not trainable. It is useful when converting to a light weight inference package such as LWTNN (https://github.com/lwtnn/lwtnn).

I already have an implementation of swish activation that preserves all the features of the current one but also saves the untrainable beta in the weights file and I would like to create

[2019-03-21 19:27] gabrieldemarmiesse commented on #482
Could you expand on this?

[2019-03-22 09:54] aghoshpub commented on #482
Indeed. To apply neural networks trained in the latest DNN libraries (such as Keras) to a massive C++ framework, developed over several years, it's often useful to use a light weight inference package (LWTNN). It is routinely used by certain experiments at CERN (European Organization for Nuclear Research) but the interest in using such a package extends beyond physics. It's lighter than adding an

[2019-03-22 10:46] gabrieldemarmiesse commented on #482
How does it work for example with the `LeakyReLU` layer in keras? Do you have the same problem?

[2019-03-22 11:25] aghoshpub commented on #482
For the `LeakyReLU` since the `alpha` is not trainable we pick it up from the architecture file. And we can do the same with the `swish` activation they way it is currently implemented. But in my personal opinion it would be better to save it as a weight since it could be a trainable parameter. If you disagree then feel free to close the issue. We can modify LWTNN to pick it up from the architectu

[2019-03-22 12:07] aghoshpub commented on #482
On further consideration I am not convinced it's worth changing the implementation of `swish` here as long as any future version of the implementation continues to save the 'beta' parameter as a config.

[2019-03-22 23:32] #467 closed

[2019-03-23 13:18] gabrieldemarmiesse commented on #482
We don't plan on changing this, so no problem here. Also, on a side note, we can't change code just for the sake of facilitating implementation in specific projects. For a change to take place, a majority of users must benefit from it.
If this is causing major inconvinience for many users, then feel free to reopen an issue about it.